<script>
{literal}
	
	$(document).on('click', '#inputvisi', function(){

		inputsasaran(1);
	})

	

	$(document).on('click', '#editvisi', function(){
		var iddata = $(this).attr('data-id');
		inputsasaran(1, iddata);
	})

	

	$(document).on('change', '.eselonid', function(){
		var id = $(this).val();
		redirect(basedomain+"renstra/sasaran/?parent_id="+id);
	})


{/literal}

</script>

<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Anggaran Total</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
	<li class="active"><a href="{$basedomain}">Home</a></li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->

<!--Page content-->
<!--===================================================-->
<div id="page-content">
	
	<!-- Row selection and deletion (multiple rows) -->
	<!--===================================================-->
	<div class="panel">
		
		
		<!--{pr($data)}
		{pr($data_listgroup)}-->
		<div class="panel-body">
			<div id="delete-toolbar" class="table-toolbar-right">
			<form action="{$basedomain}pelaporanKeuangan/anggaranTotalBulanan" method="post">
			<div class="form-horizontal">
				<div class="form-group">
				Sampai dengan Bulan : 
				<select name="bulan" class="selectpicker" width="100%">
					{foreach $bulan as $key=> $valbln}
						{if $keybln == $key}
							{$select_list = 'selected'}
						{else}
							{$select_list = ''}
						{/if}	
						<option value="{$key}" {$select_list}>{$valbln}</option>
					{/foreach}
					
				</select>
				<select name="unit"  class="selectpicker" width="100%">
					<option value="" selected>--Pilih Unit Kerja--</option>
					{foreach $list_dropdown as $value}
						{if $value.kdunit == $kd_unit}
							{$select ="selected"}
						{else}
							{$select =""}
						{/if}
					<option value="{$value.kdunit}" {$select}>{$value.nmunit}</option>
					{/foreach}
				</select>
					<button class="btn btn-primary btn-labeled fa fa-list">Tampilkan</button>
				</div>
			</div>
			</form>
		</div>
			<div class="table-responsive" style="overflow:scroll;max-height:600px">
				<table class="table table-bordered" >
					<thead>
						<tr>
							<th class="text-center" rowspan="2">Unit Eselon II</th>
							<th class="text-center" rowspan="2">Kode APBN</th>
							<th class="text-center" rowspan="2">Lembaga
							Nama Satuan Kerja /
							Nama Kegiatan /
							Output</th>
							<th class="text-center" rowspan="2">Pagu</th>
							<!--<th class="text-center" colspan="4">Realisasi {$ketBulan} Tahun {$tahun}</th>-->
							<th class="text-center" colspan="3">Realisasi</th>
							<th class="text-center" rowspan="2">Sisa Anggaran</th>
						</tr>
						<tr>
							<!--<th class="text-center">Pagu</th>
							<th class="text-center">Rencana s.d Bulan Ini</th>-->
							<th class="text-center">Bulan Ini </th>
							<th class="text-center">s.d Bulan Ini </th>
							<!--<th class="text-center">% thd Rencana Penarikan</th>-->
							<th class="text-center">% thd Pagu </th>
						</tr>
					</thead>
					<tbody>
						<tr style="color:green">
							<td>&nbsp;</td>
							<td>{$data_master_induk.0.kode}</td>
							<td>{$data_master_induk.2.nmunit}</td>
							<td class="text-right">{number_format($data_master_induk.1.pagu_menteri,"0",",",".")}</td>
							<!--<td class="text-right">{number_format($data_master_induk.3.rencana,"0",",",".")}</td>-->
							<td class="text-right">{number_format($data_master_induk.4.jml,"0",",",".")}</td>
							<td class="text-right">{number_format($data_master_induk.5.jml,"0",",",".")}</td>
							<!--<td class="text-right">{number_format($data_master_induk.6.persentase_rncan_penarikan,"2",",",".")}</td>-->
							<td class="text-right">{number_format($data_master_induk.7.persentase_thn_pagu,"2",",",".")}</td>
							<td class="text-right">{number_format($data_master_induk.8.sisa_anggaran,"0",",",".")}</td>
						</tr>
						<tr style="color:black">
							<td>&nbsp;</td>
							<td>{$data_master.0.kode}</td>
							<td>{$data_master.2.NMSATKER}</td>
							<td class="text-right">{number_format($data_master.1.pagu_satker,"0",",",".")}</td>
							<!--<td class="text-right">{number_format($data_master.3.rencana,"0",",",".")}</td>-->
							<td class="text-right">{number_format($data_master.4.jml,"0",",",".")}</td>
							<td class="text-right">{number_format($data_master.5.jml,"0",",",".")}</td>
							<!--td class="text-right">{number_format($data_master.6.persentase_rncan_penarikan_satker,"2",",",".")}</td>-->
							<td class="text-right">{number_format($data_master.7.persentase_thn_pagu_satker,"2",",",".")}</td>
							<td class="text-right">{number_format($data_master.8.sisa_anggaran_satker,"0",",",".")}</td>
						</tr>
						{foreach $data_master_sub as $value}
						<tr style="color:blue">
							<td>{$value.nama_unit}</td>
							<td>{$value.kdgiat}</td>
							<td>{$value.nama_kegiatan}</td>
							<td class="text-right">{number_format($value.pagu_giat,"0",",",".")}</td>
							<!--<td class="text-right">{number_format($value.renc_giat_sdbulan,"0",",",".")}</td>-->
							<td class="text-right">{number_format($value.real_giat_bulan,"0",",",".")}</td>
							<td class="text-right">{number_format($value.real_giat_sdbulan,"0",",",".")}</td>
							<!--<td class="text-right">{number_format($value.persentase_thd_Rencana_Penarikan_kegiatan,"2",",",".")}</td>-->
							<td class="text-right">{number_format($value.persentase_thn_pagu_satker_kegiatan,"2",",",".")}</td>
							<td class="text-right">{number_format($value.sisa_anggaran_kegiatan,"0",",",".")}</td>
						</tr>
							{foreach $value.output as $val}
							<tr>
								<td>&nbsp;</td>
								<td>{$val.KDOUTPUT}</td>
								<td>{$val.namaoutput}</td>
								<td class="text-right">{number_format($val.pagu_output,"0",",",".")}</td>
								<!--<td class="text-right">&nbsp;</td>-->
								<td class="text-right">{number_format($val.real_output_bulan,"0",",",".")}</td>
								<td class="text-right">{number_format($val.real_output_sdbulan,"0",",",".")}</td>
								<!--<td class="text-right">&nbsp;</td>-->
								<td class="text-right">{number_format($val.persentase_pagu_output,"2",",",".")}</td>
								<td class="text-right">{number_format($val.sisa_anggaran_kegiatan_output,"0",",",".")}</td>
							</tr>
							{/foreach}
						{/foreach}
					</tbody>
				</table>
			</div>
			
			
		</div>
	</div>
	<!--===================================================-->
	<!-- End Row selection and deletion (multiple rows) -->
	
	
</div>
<!--===================================================-->
<!--End page content-->

