<script>
$(window).on('load', function() {

	// Datatables
	// Row selection and deletion (multiple rows)
	// -----------------------------------------------------------------
	var rowDeletion = $('#newslist').DataTable({
		"responsive": true,
		"language": {
			"paginate": {
			  "previous": '<i class="fa fa-angle-left"></i>',
			  "next": '<i class="fa fa-angle-right"></i>'
			}
		},
		"dom": '<"toolbar">frtip'
	});

	$('#create-toolbar').appendTo($("div.toolbar"));
	$('#separator-toolbar').appendTo($("div.toolbar"));
	$('#delete-toolbar').appendTo($("div.toolbar"));

})

</script>

<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Realisasi s.d Bulanan(Rp.)</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
	<li class="active"><a href="{$basedomain}">Home</a></li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->

<!--Page content-->
<!--===================================================-->
<div id="page-content">
	
	<!-- Row selection and deletion (multiple rows) -->
	<!--===================================================-->
	<div class="panel">
		<!--<div class="panel-heading">
			<h3 class="panel-title">Realisasi s.d Bulanan(Rp.)</h3>
		</div>-->
		
		<!--{pr($data)}
		{pr($data_listgroup)}-->
		<div class="panel-body">
			<div id="" class="table-toolbar-right">
			<form action="{$basedomain}pelaporanKeuangan/realisasisdBulananRp" method="post">
			<div class="form-horizontal">
				<div class="form-group">
				<select name="unit"  class="selectpicker" width="100%">
					<option value="" selected>--Pilih Unit Kerja--</option>
					{foreach $list_dropdown as $value}
						{if $value.kdunit == $kd_unit}
							{$select ="selected"}
						{else}
							{$select =""}
						{/if}
					<option value="{$value.kdunit}" {$select}>{$value.nmunit}</option>
					{/foreach}
				</select>
					<button class="btn btn-primary btn-labeled fa fa-list">Tampilkan</button>
				</div>
			</div>
			</form>
		</div>
			<div class="table-responsive" style="overflow:scroll;max-height:650px">
				<table class="table table-bordered">
				<thead>
					<tr>
						<th class="text-center" rowspan="3">Unit Eselon II</th>
						<th class="text-center" rowspan="3">Kode APBN</th>
						<th class="text-center" rowspan="3">Lembaga
						Nama Satuan Kerja /
						Nama Kegiatan /
						Output</th>
						<th class="text-center" rowspan="3">Pagu</th>
						<th class="text-center" colspan="13">Realisasi(dalam juta rupiah)<br />
							( s/d Bulan Ke ) </th>
						<!--<th class="text-center" rowspan="3">Grafik</th>-->	
						<th class="text-center" rowspan="3">Sisa Anggaran</th>
					</tr>
					<tr>
						<th class="text-center" rowspan="2">1</th>
						<th class="text-center" rowspan="2">2</th>
						<th class="text-center" rowspan="2">3</th>
						<th class="text-center" rowspan="2">4</th>
						<th class="text-center" rowspan="2">5</th>
						<th class="text-center" rowspan="2">6</th>
						<th class="text-center" rowspan="2">7</th>
						<th class="text-center" rowspan="2">8</th>
						<th class="text-center" rowspan="2">9</th>
						<th class="text-center" rowspan="2">10</th>
						<th class="text-center" rowspan="2">11</th>
						<th class="text-center" rowspan="2">12</th>
						<th class="text-center" >Total Realisasi</th>
					</tr>
					<tr>
						<!--<th  class="text-center">Rupiah</th>-->
						<th  class="text-center">(%)</th>
					</tr>
				</thead>
				<tbody>
					{if $this->admin[type] == 1}
					<tr style="color:green">
						<td >&nbsp;</td>
						<td  class="text-center" > 	084</td>
						<td >{$data_master_induk.0.nama_satker}</td>
						<td  class="text-right" >{number_format($data_master_induk.0.pagu_total,0,",",".")}</td>
						{foreach $data_master_induk.0.realisasi_bulan as $val_indk}
							<td  class="text-right" >{number_format($val_indk,0,",",".")} 	</td>
						{/foreach}
						<td  class="text-center">{number_format($data_master_induk.0.persentase,2,",",".")}</td>
						<!--<td  class="text-center" ><a href="{$basedomain}pelaporanKeuangan/"><i class="fa fa-line-chart">&nbsp;</i></a></td>-->
						
						<td class="text-right" >{number_format($data_master_induk.0.sisa_anggaran,0,",",".")}</td>
					</tr>

					<!--<tr>
						<td  class="text-right" >{number_format($data_master_induk.0.penarikan_bulan.JML01,0,",",".")} 	</td>
						<td class="text-right" >{number_format($data_master_induk.0.penarikan_bulan.JML02,0,",",".")} 	</td>
						<td class="text-right" >{number_format($data_master_induk.0.penarikan_bulan.JML03,0,",",".")} 	</td>
						<td class="text-right" >{number_format($data_master_induk.0.penarikan_bulan.JML04,0,",",".")} 	</td>
						<td class="text-right" >{number_format($data_master_induk.0.penarikan_bulan.JML05,0,",",".")} 	</td>
						<td class="text-right" >{number_format($data_master_induk.0.penarikan_bulan.JML06,0,",",".")} 	</td>
						<td class="text-right" >{number_format($data_master_induk.0.penarikan_bulan.JML07,0,",",".")} 	</td>
						<td class="text-right" >{number_format($data_master_induk.0.penarikan_bulan.JML08,0,",",".")} 	</td>
						<td class="text-right" >{number_format($data_master_induk.0.penarikan_bulan.JML09,0,",",".")} 	</td>
						<td class="text-right" >{number_format($data_master_induk.0.penarikan_bulan.JML10,0,",",".")} 	</td>
						<td class="text-right" >{number_format($data_master_induk.0.penarikan_bulan.JML11,0,",",".")} 	</td>
						<td class="text-right" >{number_format($data_master_induk.0.penarikan_bulan.JML12,0,",",".")} 	</td>
						
						<td class="text-right" >&nbsp;</td>-->
						<!--<td class="text-right" colspan="1">{number_format($data_master_induk.0.penarikan_bulan.RPHPAGU,0,",",".")}</td>-->
						
					<!--</tr>-->
					
					<tr style="color:black">
						<td >&nbsp;</td>
						<td class="text-center" > 	{$data_master.0.KDSATKER}</td>
						<td >{$data_master.0.nama_satker}</td>
						<td  class="text-right" >{number_format($data_master.0.pagu_total,0,",",".")}</td>
						{foreach $data_master_induk.0.realisasi_bulan as $val_indk}
							<td  class="text-right" >{number_format($val_indk,0,",",".")} 	</td>
						{/foreach}
						<td  class="text-center" >{number_format($data_master.0.persentase,2,",",".")}</td>
						<!--<td  class="text-center" ><a href="{$basedomain}pelaporanKeuangan/"><i class="fa fa-line-chart">&nbsp;</i></a></td>-->
						
						<td  class="text-right" >{number_format($data_master.0.sisa_anggaran,0,",",".")}</td>
					</tr>
					{/if}
					<!--<tr>
						<td  class="text-right" >{number_format($data_master.0.penarikan_bulan.JML01,0,",",".")} 	</td>
						<td class="text-right" >{number_format($data_master.0.penarikan_bulan.JML02,0,",",".")} 	</td>
						<td class="text-right" >{number_format($data_master.0.penarikan_bulan.JML03,0,",",".")} 	</td>
						<td class="text-right" >{number_format($data_master.0.penarikan_bulan.JML04,0,",",".")} 	</td>
						<td class="text-right" >{number_format($data_master.0.penarikan_bulan.JML05,0,",",".")} 	</td>
						<td class="text-right" >{number_format($data_master.0.penarikan_bulan.JML06,0,",",".")} 	</td>
						<td class="text-right" >{number_format($data_master.0.penarikan_bulan.JML07,0,",",".")} 	</td>
						<td class="text-right" >{number_format($data_master.0.penarikan_bulan.JML08,0,",",".")} 	</td>
						<td class="text-right" >{number_format($data_master.0.penarikan_bulan.JML09,0,",",".")} 	</td>
						<td class="text-right" >{number_format($data_master.0.penarikan_bulan.JML10,0,",",".")} 	</td>
						<td class="text-right" >{number_format($data_master.0.penarikan_bulan.JML11,0,",",".")} 	</td>
						<td class="text-right" >{number_format($data_master.0.penarikan_bulan.JML12,0,",",".")} 	</td>
						<td class="text-right" >&nbsp;</td>
					</tr>-->
					{foreach $data_master_sub as $valsub}
					<tr style="color:blue">
						<td >{$valsub.nama_unit}</td>
						<td  class="text-center" >{$valsub.kdgiat}</td>
						<td >{$valsub.nama_giat}</td>
						<td  class="text-right" >{number_format($valsub.pagu_giat,0,",",".")}</td>
						{foreach $valsub.realisasi_bulan as $valrealgiat}
							<td class="text-right" >{number_format($valrealgiat,0,",",".")}</td>
						{/foreach}
						<td  class="text-center" >{number_format($valsub.persentase,2,",",".")}</td>
						<!--<td  class="text-center"><a href="{$basedomain}pelaporanKeuangan/"><i class="fa fa-line-chart">&nbsp;</i></a></td>-->
						
						<td  class="text-right" >{number_format($valsub.sisa_anggaran,0,",",".")}</td>
					</tr>

					<!--<tr>
						<td  class="text-right" >{number_format($valsub.penarikan_bulan.JML01,0,",",".")} 	</td>
						<td class="text-right" >{number_format($valsub.penarikan_bulan.JML02,0,",",".")} 	</td>
						<td class="text-right" >{number_format($valsub.penarikan_bulan.JML03,0,",",".")} 	</td>
						<td class="text-right" >{number_format($valsub.penarikan_bulan.JML04,0,",",".")} 	</td>
						<td class="text-right" >{number_format($valsub.penarikan_bulan.JML05,0,",",".")} 	</td>
						<td class="text-right" >{number_format($valsub.penarikan_bulan.JML06,0,",",".")} 	</td>
						<td class="text-right" >{number_format($valsub.penarikan_bulan.JML07,0,",",".")} 	</td>
						<td class="text-right" >{number_format($valsub.penarikan_bulan.JML08,0,",",".")} 	</td>
						<td class="text-right" >{number_format($valsub.penarikan_bulan.JML09,0,",",".")} 	</td>
						<td class="text-right" >{number_format($valsub.penarikan_bulan.JML10,0,",",".")} 	</td>
						<td class="text-right" >{number_format($valsub.penarikan_bulan.JML11,0,",",".")} 	</td>
						<td class="text-right" >{number_format($valsub.penarikan_bulan.JML12,0,",",".")} 	</td>
						<td class="text-right" >&nbsp;</td>-->
						<!--<td class="text-right" colspan="1">{number_format($valsub.penarikan_bulan.RPHPAGU,0,",",".")}</td>-->
					<!--</tr>-->
					{foreach $valsub.output as $valout}
					<tr>
						<td rowspan="">&nbsp;</td>
						<td  class="text-center" rowspan="">{$valout.KDOUTPUT}</td>
						<td rowspan="">{$valout.namaoutput}</td>
						<td  class="text-right" rowspan="">{number_format($valout.new_pagu_output,0,",",".")}</td>
						{foreach $valout.penarikan_bulan as $valrealout}
							{foreach $valrealout as $valrealoutput}
								<td class="text-right" rowspan="">{number_format($valrealoutput,0,",",".")} 	</td>
							{/foreach}
						{/foreach}
						<td  class="text-center" rowspan="">{number_format($valout.persentase,2,",",".")}</td>
						<!--<td  class="text-center" ><a href="{$basedomain}pelaporanKeuangan/"><i class="fa fa-line-chart">&nbsp;</i></a></td>-->
						<td  class="text-right" rowspan="">{number_format($valout.sisa_anggaran_kegiatan_output,0,",",".")}</td>
					</tr>
					{/foreach}
					
				{/foreach}	
					
				</tbody>
			</table>
		</div>
		</div>
	</div>
	<!--===================================================-->
	<!-- End Row selection and deletion (multiple rows) -->
	
	
</div>
<!--===================================================-->
<!--End page content-->

