<script>
$(window).on('load', function() {

	// Datatables
	// Row selection and deletion (multiple rows)
	// -----------------------------------------------------------------
	var rowDeletion = $('#newslist').DataTable({
		"responsive": true,
		"language": {
			"paginate": {
			  "previous": '<i class="fa fa-angle-left"></i>',
			  "next": '<i class="fa fa-angle-right"></i>'
			}
		},
		"dom": '<"toolbar">frtip'
	});

	$('#create-toolbar').appendTo($("div.toolbar"));
	$('#separator-toolbar').appendTo($("div.toolbar"));
	$('#delete-toolbar').appendTo($("div.toolbar"));

})

</script>

<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Realisasi Bulanan</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
	<li class="active"><a href="{$basedomain}">Home</a></li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->

<!--Page content-->
<!--===================================================-->
<div id="page-content">
	
	<!-- Row selection and deletion (multiple rows) -->
	<!--===================================================-->
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title">Realisasi Bulanan</h3>
		</div>
		
		<!--{pr($data)}
		{pr($data_listgroup)}-->
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-bordered">
				<thead>
					<tr>
						<th class="text-center" rowspan="3">Unit Eselon II</th>
						<th class="text-center" rowspan="3">Kode APBN</th>
						<th class="text-center" rowspan="3">Lembaga
						Nama Satuan Kerja /
						Nama Kegiatan /
						Output</th>
						<th class="text-center" rowspan="3">Pagu</th>
						<th class="text-center" colspan="14">Realisasi dan Rencana Penarikan
						( Bulanan ) </th>
						<th class="text-center" rowspan="3">Sisa Anggaran</th>
					</tr>
					<tr>
						<th class="text-center" rowspan="2">1</th>
						<th class="text-center" rowspan="2">2</th>
						<th class="text-center" rowspan="2">3</th>
						<th class="text-center" rowspan="2">4</th>
						<th class="text-center" rowspan="2">5</th>
						<th class="text-center" rowspan="2">6</th>
						<th class="text-center" rowspan="2">7</th>
						<th class="text-center" rowspan="2">8</th>
						<th class="text-center" rowspan="2">9</th>
						<th class="text-center" rowspan="2">10</th>
						<th class="text-center" rowspan="2">11</th>
						<th class="text-center" rowspan="2">12</th>
						<th class="text-center" colspan="2">Total Realisasi</th>
					</tr>
					<tr>
						<th  class="text-center">Rupiah</th>
						<th  class="text-center">(%)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td rowspan="2">&nbsp;</td>
						<td  class="text-center" rowspan="2"> 	084</td>
						<td rowspan="2">BADAN STANDARDISASI NASIONAL</td>
						<td  class="text-right" rowspan="2">329.623.940.000</td>
						<td  class="text-right" >0 	</td>
						<td class="text-right" >0 	</td>
						<td class="text-right" >0 	</td>
						<td class="text-right" >0 	</td>
						<td class="text-right" >0 	</td>
						<td class="text-right" >0 	</td>
						<td class="text-right" >0 	</td>
						<td class="text-right" >0 	</td>
						<td class="text-right" >0 	</td>
						<td class="text-right" >0 	</td>
						<td class="text-right" >0 	</td>
						<td class="text-right" >0 	</td>
						<td class="text-right" >0</td>
						<td  class="text-center" rowspan="2">0,00</td>
						<td  class="text-right" rowspan="2">329.623.940.000</td>
					</tr>

					<tr>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" colspan="1">7.191.682.000</td>
					</tr>
					<tr>
						<td rowspan="2">&nbsp;</td>
						<td class="text-center" rowspan="2"> 	084</td>
						<td rowspan="2">BADAN STANDARDISASI NASIONAL</td>
						<td  class="text-right" rowspan="2">329.623.940.000</td>
						<td class="text-right" >0 	</td>
						<td class="text-right" >0 	</td>
						<td class="text-right" >0 	</td>
						<td class="text-right" >0 	</td>
						<td class="text-right" >0 	</td>
						<td class="text-right" >0 	</td>
						<td class="text-right" >0 	</td>
						<td class="text-right" >0 	</td>
						<td class="text-right" >0 	</td>
						<td class="text-right" >0 	</td>
						<td class="text-right" >0 	</td>
						<td class="text-right" >0 	</td>
						<td class="text-right" >0</td>
						<td  class="text-center" rowspan="2">0,00</td>
						<td class="text-right"  rowspan="2">329.623.940.000</td>
					</tr>

					<tr>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" >7.191.682.000</td>
					</tr>
					<tr>
						<td rowspan="2">BIRO HUKUM, ORGANISASI DAN HUMAS</td>
						<td  class="text-center" rowspan="2"> 	084</td>
						<td rowspan="2">BADAN STANDARDISASI NASIONAL</td>
						<td  class="text-right" rowspan="2">329.623.940.000</td>
						<td class="text-right" >0 	</td>
						<td class="text-right" >0 	</td>
						<td class="text-right" >0 	</td>
						<td class="text-right" >0 	</td>
						<td class="text-right" >0 	</td>
						<td class="text-right" >0 	</td>
						<td class="text-right" >0 	</td>
						<td class="text-right" >0 	</td>
						<td class="text-right" >0 	</td>
						<td class="text-right" >0 	</td>
						<td class="text-right" >0 	</td>
						<td class="text-right" >0 	</td>
						<td class="text-right" >0</td>
						<td  class="text-center" rowspan="2">0,00</td>
						<td  class="text-right" rowspan="2">329.623.940.000</td>
					</tr>

					<tr>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" >7.191.682.000</td>
						<td class="text-right" >7.191.682.000</td>
					</tr>
				</tbody>
			</table>
		</div>
		</div>
	</div>
	<!--===================================================-->
	<!-- End Row selection and deletion (multiple rows) -->
	
	
</div>
<!--===================================================-->
<!--End page content-->

