<!--JAVASCRIPT-->
	<!--=================================================-->
	
	<!--Nifty Admin [ RECOMMENDED ]-->
	<script src="{$basedomain}js/nifty.min.js"></script>


	<!--Demo script [ DEMONSTRATION ]-->
	<script src="{$basedomain}js/demo/nifty-demo.min.js"></script>

	<!--DataTables Sample [ SAMPLE ]-->
	<script src="{$basedomain}js/demo/tables-datatables.js"></script>

	<!--Form Component [ SAMPLE ]-->
	<script src="{$basedomain}js/demo/form-component.js"></script>

	<script src="{$basedomain}plugins/xeponlone/xepOnline.jqPlugin.js"></script>
	<script src="{$basedomain}plugins/xeponlone/canvas2image.js"></script>
	<script src="{$basedomain}plugins/xeponlone/html2canvas.js"></script>
	<script src="{$basedomain}plugins/xeponlone/base64.js"></script>



