	
<!--MAIN NAVIGATION-->
<!--===================================================-->
<nav id="mainnav-container">
	<div id="mainnav">

		<!--Shortcut buttons-->
		<!--================================-->
		<div id="mainnav-shortcut">
			
		</div>
		<!--================================-->
		<!--End shortcut buttons-->
		<!--{pr($page.function)}
		{pr($page.page)}-->

		<!--Menu-->
		<!--================================-->
		<div id="mainnav-menu-wrap">
			<div class="nano">
				<div class="nano-content">
					<ul id="mainnav-menu" class="list-group">
						
						<li class="list-header">Menu</li>

						<li class="{if $page.page eq 'home' && $page.function eq 'index'}active-link{/if}">
							<a href="{$basedomain}home">
								<i class="fa fa-home"></i>
								<span class="menu-title">
									<strong>Home</strong>
								</span>
							</a>
						</li>
						{*}
						<li class="{if $page.page eq 'course' && $page.function eq 'viewvisitor'}active-link{/if}">
							<a href="{$basedomain}course/viewvisitor">
								
								<span class="menu-title">Setting Tahun </span>
							</a>
			
						</li>
						{/*}
						<li class="list-divider"></li>

						<!--Category name-->
						<li class="list-header">Struktur Organisasi</li>
			
						<!--Menu list item-->
						<li class="{if $page.page eq 'course' && $page.function eq 'viewvisitor'}active-link{/if}">
							<a href="{$basedomain}struktur">
								<i class="fa fa-minus-square"></i>
								<span class="menu-title"><strong>Struktur Organisasi</strong> </span>
							</a>
			
						</li>
						<li>
							<a href="#">
								<i class="fa fa-plus-square"></i>
								<span class="menu-title"><strong>Tugas dan Fungsi</strong></span>
								<i class="arrow"></i>
							</a>
			
							<!--Submenu-->
							<ul class="collapse {if $page.page eq 'news'}in{/if}">
								<li><a href="{$basedomain}struktur/bsn">BSN</a></li>
								<li><a href="{$basedomain}struktur/eselon1">Eselon I</a></li>
								<li><a href="{$basedomain}struktur/eselon2">Eselon II</a></li>
							</ul>
						</li>
						
						<li class="list-divider"></li>

						<!--Category name-->
						<li class="list-header">Renstra</li>
			
						<!--Menu list item-->
						<li>
							<a href="#">
								<i class="fa fa-plus-square"></i>
								<span class="menu-title"><strong>Visi, Misi dan Tujuan</strong></span>
								<i class="arrow"></i>
							</a>
			
							<!--Submenu-->
							<ul class="collapse {if $page.page eq 'news'}in{/if}">
								<li><a href="{$basedomain}renstra/visi_bsn">BSN</a></li>
								<li><a href="{$basedomain}renstra/visi_eselon">Eselon I</a></li>
							</ul>
						</li>

						<li>
							<a href="#">
								<i class="fa fa-plus-square"></i>
								<span class="menu-title"><strong>Matrik Kinerja</strong></span>
								<i class="arrow"></i>
							</a>
			
							<!--Submenu-->
							<ul class="collapse {if $page.page eq 'news'}in{/if}">
								<li><a href="{$basedomain}renstra/sasaran">Sasaran Utama</a></li>
								<li><a href="{$basedomain}renstra/kinerja">SS dan IKSS BSN</a></li>
								<li><a href="{$basedomain}renstra/program">Program, SP & IKP</a></li>
								<li><a href="{$basedomain}renstra/kegiatan">Nama Kegiatan</a></li>
								<li><a href="{$basedomain}renstra/output">Output dan IKK</a></li>
							</ul>
						</li>

						<li>
							<a href="#">
								<i class="fa fa-plus-square"></i>
								<span class="menu-title"><strong>Dokumen Renstra</strong></span>
								<i class="arrow"></i>
							</a>
			
							<!--Submenu-->
							<ul class="collapse {if $page.page eq 'news'}in{/if}">
								<li><a href="{$basedomain}renstra/dokumenBsn/?pid=1">Renstra Tk BSN</a></li>
								<li><a href="{$basedomain}renstra/dokumenBSN/?pid=2">Renstra Tk Eselon I</a></li>
								<li><a href="{$basedomain}renstra/dokumenBSN/?pid=3">Renstra Tk Eselon II</a></li>
							</ul>
						</li>

						<li class="list-divider"></li>
			
						<!--Category name-->
						<li class="list-header">Perencanaan N+1</li>
			
						<!--Menu list item-->
						<li>
							<a href="#">
								<i class="fa fa-plus-square"></i>
								<span class="menu-title"><strong>RKT</strong></span>
								<i class="arrow"></i>
							</a>
			
							<!--Submenu-->
							<ul class="collapse {if $page.page eq 'news'}in{/if}">
								<li><a href="#">RKT Tingkat BSN</a></li>
								<li><a href="#">RKT Tingkat Eselon I</a></li>
								<li><a href="#">RKT Tingkat Eselon II</a></li>
							</ul>
						</li>

						<li class="{if $page.page eq 'course' && $page.function eq 'viewvisitor'}active-link{/if}">
							<a href="{$basedomain}course/viewvisitor">
								<i class="fa fa-minus-square"></i>
								<span class="menu-title"><strong>Baseline Kegiatan</strong> </span>
							</a>
			
						</li>

						<li class="{if $page.page eq 'course' && $page.function eq 'viewvisitor'}active-link{/if}">
							<a href="{$basedomain}course/viewvisitor">
								<i class="fa fa-minus-square"></i>
								<span class="menu-title"><strong>TOR Output</strong> </span>
							</a>
			
						</li>

						<li class="list-divider"></li>

						<li class="list-header">Penetapan Tahun N</li>

						<!--Menu list item-->
						<li class="{if $page.page eq 'course' && $page.function eq 'viewvisitor'}active-link{/if}">
							<a href="{$basedomain}course/viewvisitor">
								<i class="fa fa-minus-square"></i>
								<span class="menu-title"><strong>Penetapan Anggaran</strong> </span>
							</a>
			
						</li>

						<li class="{if $page.page eq 'course' && $page.function eq 'viewvisitor'}active-link{/if}">
							<a href="{$basedomain}course/viewvisitor">
								<i class="fa fa-minus-square"></i>
								<span class="menu-title"><strong>RPK</strong> </span>
							</a>
			
						</li>

						<li>
							<a href="#">
								<i class="fa fa-plus-square"></i>
								<span class="menu-title"><strong>Perjanjian Kinerja</strong></span>
								<i class="arrow"></i>
							</a>
			
							<!--Submenu-->
							<ul class="collapse {if $page.page eq 'news'}in{/if}">
								<li><a href="#">PK Tingkat BSN</a></li>
								<li><a href="#">PK Tingkat Eselon I</a></li>
								<li><a href="#">PK Tingkat Eselon II</a></li>
							</ul>
						</li>

						<li>
							<a href="#">
								<i class="fa fa-plus-square"></i>
								<span class="menu-title"><strong>Rencana Aksi PK</strong></span>
								<i class="arrow"></i>
							</a>
			
							<!--Submenu-->
							<ul class="collapse {if $page.page eq 'news'}in{/if}">
								<li><a href="#">RenAksi Tk BSN</a></li>
								<li><a href="#">RenAksi Tk Eselon I</a></li>
								<li><a href="#">RenAksi Tk Eselon II</a></li>
							</ul>
						</li>

						<li class="list-divider"></li>

						<li class="list-header">Pelaporan Keuangan</li>

						<!--Menu list item-->
						<li class="{if $page.page eq 'course' && $page.function eq 'viewvisitor'}active-link{/if}">
							<a href="{$basedomain}pelaporanKeuangan">
								<i class="fa fa-minus-square"></i>
								<span class="menu-title"><strong>Realisasi Keuangan</strong> </span>
							</a>
			
						</li>

						<li>
							<a href="#">
								<i class="fa fa-plus-square"></i>
								<span class="menu-title"><strong>Laporan Bulanan</strong></span>
								<i class="arrow"></i>
							</a>
			
							<!--Submenu-->
							<ul class="collapse {if $page.page eq 'news'}in{/if}">
								<li><a href="#">Realisasi Bulanan</a></li>
								<li><a href="#">Realisasi s.d Bln (%)</a></li>
								<li><a href="#">Realisasi s.d Bln (Rp.)</a></li>
								<li><a href="#">Anggaran Total</a></li>
								<li><a href="#">Anggaran Jenis Belanja</a></li>
								<li><a href="#">Anggaran Akun BSN</a></li>
								<li><a href="#">Anggaran Akun Satker</a></li>
								<li><a href="#">Anggaran Akun Giat</a></li>
								<li><a href="#">Anggaran Output</a></li>
							</ul>
						</li>

						<li>
							<a href="#">
								<i class="fa fa-plus-square"></i>
								<span class="menu-title"><strong>Laporan Triwulan</strong></span>
								<i class="arrow"></i>
							</a>
			
							<!--Submenu-->
							<ul class="collapse {if $page.page eq 'news'}in{/if}">
								<li><a href="#">Anggaran Total</a></li>
								<li><a href="#">Anggaran Jenis Belanja</a></li>
								<li><a href="#">Anggaran Akun BSN</a></li>
								<li><a href="#">Anggaran Akun Satker</a></li>
								<li><a href="#">Anggaran Akun Giat</a></li>
								<li><a href="#">Anggaran Output</a></li>
							</ul>
						</li>

						<li class="list-divider"></li>

						<li class="list-header">Pelaporan Kegiatan</li>

						<!--Menu list item-->
						<li>
							<a href="#">
								<i class="fa fa-plus-square"></i>
								<span class="menu-title"><strong>Capaian PK</strong></span>
								<i class="arrow"></i>
							</a>
			
							<!--Submenu-->
							<ul class="collapse {if $page.page eq 'news'}in{/if}">
								<li><a href="{$basedomain}pelaporanKegiatan">Tingkat BSN</a></li>
								<li><a href="#">Tingkat Eselon I</a></li>
								<li><a href="#">Tingkat Eselon II</a></li>
							</ul>
						</li>

						<li>
							<a href="#">
								<i class="fa fa-plus-square"></i>
								<span class="menu-title"><strong>Dokumen LAKIP</strong></span>
								<i class="arrow"></i>
							</a>
			
							<!--Submenu-->
							<ul class="collapse {if $page.page eq 'news'}in{/if}">
								<li><a href="#">Tingkat Lembaga</a></li>
								<li><a href="#">Tingkat Eselon I</a></li>
								<li><a href="#">Tingkat Eselon II</a></li>
							</ul>
						</li>

						<li class="list-divider"></li>

						<li class="list-header">Monitoring Evaluasi</li>

						<!--Menu list item-->
						<li class="{if $page.page eq 'course' && $page.function eq 'viewvisitor'}active-link{/if}">
							<a href="{$basedomain}course/viewvisitor">
								<i class="fa fa-minus-square"></i>
								<span class="menu-title"><strong>Monev Bulanan</strong> </span>
							</a>
			
						</li>

						<li class="{if $page.page eq 'course' && $page.function eq 'viewvisitor'}active-link{/if}">
							<a href="{$basedomain}course/viewvisitor">
								<i class="fa fa-minus-square"></i>
								<span class="menu-title"><strong>Monev Triwulan</strong> </span>
							</a>
			
						</li>

						<li class="{if $page.page eq 'course' && $page.function eq 'viewvisitor'}active-link{/if}">
							<a href="{$basedomain}course/viewvisitor">
								<i class="fa fa-minus-square"></i>
								<span class="menu-title"><strong>Monev Format PP.39</strong> </span>
							</a>
			
						</li>

						<li class="list-divider"></li>
						
						<li class="list-header">Pengaturan Sistem</li>

						<!--Menu list item-->
						<li class="{if $page.page eq 'course' && $page.function eq 'viewvisitor'}active-link{/if}">
							<a href="{$basedomain}setting/tahun">
								<i class="fa fa-calendar"></i>
								<span class="menu-title"><strong>Pengaturan Tahun Aktif</strong> </span>
							</a>
			
						</li>

						<li class="{if $page.page eq 'course' && $page.function eq 'viewvisitor'}active-link{/if}">
							<a href="{$basedomain}course/viewvisitor">
								<i class="fa fa-cog"></i>
								<span class="menu-title"><strong>Pengaturan Menu</strong> </span>
							</a>
			
						</li>

						<li class="{if $page.page eq 'course' && $page.function eq 'viewvisitor'}active-link{/if}">
							<a href="{$basedomain}course/viewvisitor">
								<i class="fa fa-users"></i>
								<span class="menu-title"><strong>Pengaturan Pengguna</strong> </span>
							</a>
			
						</li>

						<li class="{if $page.page eq 'course' && $page.function eq 'viewvisitor'}active-link{/if}">
							<a href="{$basedomain}course/viewvisitor">
								<i class="fa fa-info-circle"></i>
								<span class="menu-title"><strong>Info Tentang Sistem</strong> </span>
							</a>
			
						</li>

						<li class="{if $page.page eq 'course' && $page.function eq 'viewvisitor'}active-link{/if}">
							<a href="{$basedomain}course/viewvisitor">
								<i class="fa fa-lock"></i>
								<span class="menu-title"><strong>Ubah Password</strong> </span>
							</a>
			
						</li>

						<li class="{if $page.page eq 'course' && $page.function eq 'viewvisitor'}active-link{/if}">
							<a href="{$basedomain}course/viewvisitor">
								<i class="fa fa-question-circle"></i>
								<span class="menu-title"><strong>Help</strong> </span>
							</a>
			
						</li>

					</ul>

				</div>
			</div>
		</div>
		<!--================================-->
		<!--End menu-->

	</div>
</nav>
<!--===================================================-->
<!--END MAIN NAVIGATION-->
