	
<!--MAIN NAVIGATION-->
<!--===================================================-->
<nav id="mainnav-container">
	<div id="mainnav">

		<!--Shortcut buttons-->
		<!--================================-->
		<div id="mainnav-shortcut">
			
		</div>
		<!--================================-->
		<!--End shortcut buttons-->
		<!--{pr($page.function)}
		{pr($page.page)}-->

		<!--Menu-->
		<!--================================-->
		<div id="mainnav-menu-wrap">
			<div class="nano">
				<div class="nano-content">
					<ul id="mainnav-menu" class="list-group">
						
						<li class="list-header">Menu</li>

						<li class="{if $page.page eq 'home' && $page.function eq 'index'}active-link{/if}">
							<a href="{$basedomain}home">
								
								<span class="menu-title">
									Home
								</span>
							</a>
						</li>

						<li class="{if $page.page eq 'course' && $page.function eq 'viewvisitor'}active-link{/if}">
							<a href="{$basedomain}course/viewvisitor">
								
								<span class="menu-title">Setting Tahun </span>
							</a>
			
						</li>

						<li class="list-divider"></li>

						<!--Category name-->
						<li class="list-header">Struktur Organisasi</li>
			
						<!--Menu list item-->
						<li class="{if $page.page eq 'course' && $page.function eq 'viewvisitor'}active-link{/if}">
							<a href="{$basedomain}struktur">
								
								<span class="menu-title">Struktur Organisasi </span>
							</a>
			
						</li>
						<li>
							<a href="#">
								
								<span class="menu-title">Tugas dan Fungsi</span>
								<i class="arrow"></i>
							</a>
			
							<!--Submenu-->
							<ul class="collapse {if $page.page eq 'news'}in{/if}">
								<li><a href="{$basedomain}struktur/bsn">BSN</a></li>
								<li><a href="{$basedomain}struktur/eseloni">Eselon I</a></li>
								<li><a href="{$basedomain}struktur/eselonii">Eselon II</a></li>
							</ul>
						</li>
						
						<li class="list-divider"></li>

						<!--Category name-->
						<li class="list-header">Renstra</li>
			
						<!--Menu list item-->
						<li>
							<a href="#">
								
								<span class="menu-title">Visi, Misi dan Tujuan</span>
								<i class="arrow"></i>
							</a>
			
							<!--Submenu-->
							<ul class="collapse {if $page.page eq 'news'}in{/if}">
								<li><a href="{$basedomain}renstra/visi_bsn">BSN</a></li>
								<li><a href="{$basedomain}renstra/visi_eselon">Eselon I</a></li>
							</ul>
						</li>

						<li>
							<a href="#">
								
								<span class="menu-title">Matrik Kinerja</span>
								<i class="arrow"></i>
							</a>
			
							<!--Submenu-->
							<ul class="collapse {if $page.page eq 'news'}in{/if}">
								<li><a href="{$basedomain}renstra/sasaran">Sasaran Utama</a></li>
								<li><a href="{$basedomain}renstra/kinerja">SS dan IKSS BSN</a></li>
								<li><a href="{$basedomain}renstra/program">Program, SP & IKP</a></li>
								<li><a href="{$basedomain}renstra/kegiatan">Nama Kegiatan</a></li>
								<li><a href="{$basedomain}renstra/output">Output dan IKK</a></li>
							</ul>
						</li>

						<li>
							<a href="#">
								
								<span class="menu-title">Dokumen Renstra</span>
								<i class="arrow"></i>
							</a>
			
							<!--Submenu-->
							<ul class="collapse {if $page.page eq 'news'}in{/if}">
								<li><a href="{$basedomain}renstra/dokumenBsn/?pid=1">Renstra Tk BSN</a></li>
								<li><a href="{$basedomain}renstra/dokumenBSN/?pid=2">Renstra Tk Eselon I</a></li>
								<li><a href="{$basedomain}renstra/dokumenBSN/?pid=3">Renstra Tk Eselon II</a></li>
							</ul>
						</li>

						<li class="list-divider"></li>
			
						<!--Category name-->
						<li class="list-header">Perencanaan N+1</li>
			
						<!--Menu list item-->
						<li>
							<a href="#">
								
								<span class="menu-title">RKT</span>
								<i class="arrow"></i>
							</a>
			
							<!--Submenu-->
							<ul class="collapse {if $page.page eq 'news'}in{/if}">
								<li><a href="#">RKT Tingkat BSN</a></li>
								<li><a href="#">RKT Tingkat Eselon I</a></li>
								<li><a href="#">RKT Tingkat Eselon II</a></li>
							</ul>
						</li>

						<li class="{if $page.page eq 'course' && $page.function eq 'viewvisitor'}active-link{/if}">
							<a href="{$basedomain}course/viewvisitor">
								
								<span class="menu-title">Baseline Kegiatan </span>
							</a>
			
						</li>

						<li class="{if $page.page eq 'course' && $page.function eq 'viewvisitor'}active-link{/if}">
							<a href="{$basedomain}course/viewvisitor">
								
								<span class="menu-title">TOR Output </span>
							</a>
			
						</li>

						<li class="list-divider"></li>

						<li class="list-header">Penetapan Tahun N</li>

						<!--Menu list item-->
						<li class="{if $page.page eq 'course' && $page.function eq 'viewvisitor'}active-link{/if}">
							<a href="{$basedomain}course/viewvisitor">
								
								<span class="menu-title">Penetapan Anggaran </span>
							</a>
			
						</li>

						<li class="{if $page.page eq 'course' && $page.function eq 'viewvisitor'}active-link{/if}">
							<a href="{$basedomain}course/viewvisitor">
								
								<span class="menu-title">RPK </span>
							</a>
			
						</li>

						<li>
							<a href="#">
								
								<span class="menu-title">Perjanjian Kinerja</span>
								<i class="arrow"></i>
							</a>
			
							<!--Submenu-->
							<ul class="collapse {if $page.page eq 'news'}in{/if}">
								<li><a href="#">PK Tingkat BSN</a></li>
								<li><a href="#">PK Tingkat Eselon I</a></li>
								<li><a href="#">PK Tingkat Eselon II</a></li>
							</ul>
						</li>

						<li>
							<a href="#">
								
								<span class="menu-title">Rencana Aksi PK</span>
								<i class="arrow"></i>
							</a>
			
							<!--Submenu-->
							<ul class="collapse {if $page.page eq 'news'}in{/if}">
								<li><a href="#">RenAksi Tk BSN</a></li>
								<li><a href="#">RenAksi Tk Eselon I</a></li>
								<li><a href="#">RenAksi Tk Eselon II</a></li>
							</ul>
						</li>

						<li class="list-divider"></li>

						<li class="list-header">Pelaporan Keuangan</li>

						<!--Menu list item-->
						<li class="{if $page.page eq 'pelaporanKeuangan' && $page.function eq 'index'}active-link{/if}">
							<a href="{$basedomain}pelaporanKeuangan">
								
								<span class="menu-title">Realisasi Keuangan </span>
							</a>
			
						</li>

						<li>
							<a href="#">
								
								<span class="menu-title">Laporan Bulanan</span>
								<i class="arrow"></i>
							</a>
			
							<!--Submenu-->
							<ul class="collapse {if $page.page eq 'pelaporanKeuangan'}in{/if}">
								<li><a href="{$basedomain}pelaporanKeuangan/realisasiBulanan">Realisasi Bulanan</a></li>
								<li><a href="#">Realisasi s.d Bln (%)</a></li>
								<li><a href="#">Realisasi s.d Bln (Rp.)</a></li>
								<li><a href="#">Anggaran Total</a></li>
								<li><a href="#">Anggaran Jenis Belanja</a></li>
								<li><a href="#">Anggaran Akun BSN</a></li>
								<li><a href="#">Anggaran Akun Satker</a></li>
								<li><a href="#">Anggaran Akun Giat</a></li>
								<li><a href="#">Anggaran Output</a></li>
							</ul>
						</li>

						<li>
							<a href="#">
								
								<span class="menu-title">Laporan Triwulan</span>
								<i class="arrow"></i>
							</a>
			
							<!--Submenu-->
							<ul class="collapse {if $page.page eq 'news'}in{/if}">
								<li><a href="{$basedomain}pelaporanKeuangan/anggaranTotal">Anggaran Total</a></li>
								<li><a href="#">Anggaran Jenis Belanja</a></li>
								<li><a href="#">Anggaran Akun BSN</a></li>
								<li><a href="#">Anggaran Akun Satker</a></li>
								<li><a href="#">Anggaran Akun Giat</a></li>
								<li><a href="#">Anggaran Output</a></li>
							</ul>
						</li>

						<li class="list-divider"></li>

						<li class="list-header">Pelaporan Keuangan</li>

						<!--Menu list item-->
						<li>
							<a href="#">
								
								<span class="menu-title">Capaian PK</span>
								<i class="arrow"></i>
							</a>
			
							<!--Submenu-->
							<ul class="collapse {if $page.page eq 'news'}in{/if}">
								<li><a href="#">Tingkat BSN</a></li>
								<li><a href="#">Tingkat Eselon I</a></li>
								<li><a href="#">Tingkat Eselon II</a></li>
							</ul>
						</li>

						<li>
							<a href="#">
								
								<span class="menu-title">Dokumen LAKIP</span>
								<i class="arrow"></i>
							</a>
			
							<!--Submenu-->
							<ul class="collapse {if $page.page eq 'news'}in{/if}">
								<li><a href="#">Tingkat Lembaga</a></li>
								<li><a href="#">Tingkat Eselon I</a></li>
								<li><a href="#">Tingkat Eselon II</a></li>
							</ul>
						</li>

						<li class="list-divider"></li>

						<li class="list-header">Monitoring Evaluasi</li>

						<!--Menu list item-->
						<li class="{if $page.page eq 'course' && $page.function eq 'viewvisitor'}active-link{/if}">
							<a href="{$basedomain}course/viewvisitor">
								
								<span class="menu-title">Monev Bulanan </span>
							</a>
			
						</li>

						<li class="{if $page.page eq 'course' && $page.function eq 'viewvisitor'}active-link{/if}">
							<a href="{$basedomain}course/viewvisitor">
								
								<span class="menu-title">Monev Triwulan </span>
							</a>
			
						</li>

						<li class="{if $page.page eq 'course' && $page.function eq 'viewvisitor'}active-link{/if}">
							<a href="{$basedomain}course/viewvisitor">
								
								<span class="menu-title">Monev Format PP.39 </span>
							</a>
			
						</li>

						<li class="list-divider"></li>
						
						<li class="list-header">Pengaturan Sistem</li>

						<!--Menu list item-->
						<li class="{if $page.page eq 'course' && $page.function eq 'viewvisitor'}active-link{/if}">
							<a href="{$basedomain}setting/tahun">
								
								<span class="menu-title">Pengaturan Tahun Aktif </span>
							</a>
			
						</li>

						<li class="{if $page.page eq 'course' && $page.function eq 'viewvisitor'}active-link{/if}">
							<a href="{$basedomain}course/viewvisitor">
								
								<span class="menu-title">Pengaturan Menu </span>
							</a>
			
						</li>

						<li class="{if $page.page eq 'course' && $page.function eq 'viewvisitor'}active-link{/if}">
							<a href="{$basedomain}course/viewvisitor">
								
								<span class="menu-title">Pengaturan Pengguna </span>
							</a>
			
						</li>

						<li class="{if $page.page eq 'course' && $page.function eq 'viewvisitor'}active-link{/if}">
							<a href="{$basedomain}course/viewvisitor">
								
								<span class="menu-title">Info Tentang Sistem </span>
							</a>
			
						</li>

						<li class="{if $page.page eq 'course' && $page.function eq 'viewvisitor'}active-link{/if}">
							<a href="{$basedomain}course/viewvisitor">
								
								<span class="menu-title">Ubah Password </span>
							</a>
			
						</li>

						<li class="{if $page.page eq 'course' && $page.function eq 'viewvisitor'}active-link{/if}">
							<a href="{$basedomain}course/viewvisitor">
								
								<span class="menu-title">Help </span>
							</a>
			
						</li>

					</ul>

				</div>
			</div>
		</div>
		<!--================================-->
		<!--End menu-->

	</div>
</nav>
<!--===================================================-->
<!--END MAIN NAVIGATION-->
