<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Edit Data</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
	<li class="active"><a href="{$basedomain}">Home</a></li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->

<!--Page content-->
<!--===================================================-->
<div id="page-content">
	
	<!-- Row selection and deletion (multiple rows) -->
	<!--===================================================-->
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title">Form Rencana Aksi Penetapan Kinerja </h3>
		</div>
		<form class="form-horizontal form-padding" method="post" action="{$basedomain}renaksi/edt_renaksi">
		<div class="panel-body">
			<div class="row">
				<div class="col-lg-10">
					<div class="form-group">
						<label class="col-md-3 control-label" for="demo-text-input">No. Urut</label>
						<div class="col-md-2">
							<input type="text" name="no_pk" readonly class="form-control" value="{$data.no_pk}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label" for="demo-text-input">Sasaran Strategis</label>
						<div class="col-md-9">
							<input type="text" name="no_sasaran" readonly class="form-control" value="{$data.ss}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label" for="demo-text-input">Indikator Kinerja</label>
						<div class="col-md-9">
							<input type="text" name="nm_pk" readonly class="form-control" value="{$data.nm_pk}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label" for="demo-text-input">Target</label>
						<div class="col-md-2">
							<input type="text" id="target" name="target" readonly class="form-control" value="{$data.target}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label" for="demo-textarea-input">Formula</label>
						<div class="col-md-9">
							<textarea id="demo-textarea-input" name="formula" rows="4" class="form-control triwulan">{$data.formula}</textarea>
						</div>
					</div>

					<div class="panel">
					
						<!--Panel heading-->
						<div class="panel-heading">
							<div class="panel-control">
								<ul class="nav nav-tabs">
									<li class="active"><a href="#triwulan1" data-toggle="tab">Triwulan I</a></li>
									<li><a href="#triwulan2" data-toggle="tab">Triwulan II</a></li>
									<li><a href="#triwulan3" data-toggle="tab">Triwulan III</a></li>
									<li><a href="#triwulan4" data-toggle="tab">Triwulan IV</a></li>
								</ul>
							</div>
							<h3 class="panel-title">Rencana Aksi Pencapaian Target</h3>
						</div>
			
						<!--Panel body-->
						<div class="panel-body">
							<div class="tab-content">
								<div class="tab-pane fade in active" id="triwulan1">
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Target</label>
										<div class="col-md-2">
											<input type="text" name="rencana_1" id="rencana_1" class="form-control numeric" value="{$data.rencana_1}" onkeyup="return persentase(this);">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Persentase</label>
										<div class="col-md-2">
											<div class="input-group">
												<input type="text" class="form-control" id="tri_1" value="{$data.rencana_1/$data.target*100}" disabled>
												<span class="input-group-addon">%</span>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Output</label>
										<div class="col-md-2">
											<input type="text" name="ren_hasil_1" class="form-control" value="{$data.ren_hasil_1}">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-textarea-input">Formula</label>
										<div class="col-md-9">
											<textarea id="demo-textarea-input" name="aksi_1" rows="4" class="form-control triwulan">{$data.aksi_1}</textarea>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="triwulan2">
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Target</label>
										<div class="col-md-2">
											<input type="text" name="rencana_2" id="rencana_2" class="form-control numeric" value="{$data.rencana_2}" onkeyup="return persentase(this);">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Persentase</label>
										<div class="col-md-2">
											<div class="input-group">
												<input type="text" class="form-control" id="tri_2" value="{$data.rencana_2/$data.target*100}" disabled>
												<span class="input-group-addon">%</span>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Output</label>
										<div class="col-md-2">
											<input type="text" name="ren_hasil_2" class="form-control" value="{$data.ren_hasil_2}">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-textarea-input">Formula</label>
										<div class="col-md-9">
											<textarea id="demo-textarea-input" name="aksi_2" rows="4" class="form-control triwulan">{$data.aksi_2}</textarea>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="triwulan3">
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Target</label>
										<div class="col-md-2">
											<input type="text" name="rencana_3" id="rencana_3" class="form-control numeric" value="{$data.rencana_3}" onkeyup="return persentase(this);">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Persentase</label>
										<div class="col-md-2">
											<div class="input-group">
												<input type="text" class="form-control" id="tri_3" value="{$data.rencana_3/$data.target*100}" disabled>
												<span class="input-group-addon">%</span>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Output</label>
										<div class="col-md-2">
											<input type="text" name="ren_hasil_3" class="form-control" value="{$data.ren_hasil_3}">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-textarea-input">Formula</label>
										<div class="col-md-9">
											<textarea id="demo-textarea-input" name="aksi_3" rows="4" class="form-control triwulan">{$data.aksi_3}</textarea>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="triwulan4">
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Target</label>
										<div class="col-md-2">
											<input type="text" name="rencana_4" id="rencana_4" class="form-control numeric" value="{$data.rencana_4}" onkeyup="return persentase(this);">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Persentase</label>
										<div class="col-md-2">
											<div class="input-group">
												<input type="text" class="form-control" id="tri_4" value="{$data.rencana_4/$data.target*100}" disabled>
												<span class="input-group-addon">%</span>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Output</label>
										<div class="col-md-2">
											<input type="text" name="ren_hasil_4" class="form-control" value="{$data.ren_hasil_4}">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-textarea-input">Formula</label>
										<div class="col-md-9">
											<textarea id="demo-textarea-input" name="aksi_4" rows="4" class="form-control triwulan">{$data.aksi_4}</textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

						
						<!-- HIDDEN -->
						<input type="hidden" name="id" value="{$id}">
				</div>
			</div>
		</div>
		<div class="panel-footer text-left">
			<button class="btn btn-info" type="submit" id="submit">Submit</button>
		</div>
		</form>
	</div>
	<!--===================================================-->
	<!-- End Row selection and deletion (multiple rows) -->
	
	
</div>
<!--===================================================-->
<!--End page content-->
{literal}
<script type="text/javascript">
	$(document).ready(function(){
		$('.triwulan').summernote({
		toolbar: [
    // [groupName, [list of button]]
					['style', ['bold', 'italic', 'underline', 'clear']],
					['font', ['strikethrough', 'superscript', 'subscript']],
					['fontsize', ['fontsize']],
					['color', ['color']],
					['para', ['ul', 'ol', 'paragraph']],
					['height', ['height']]
				  ],
		height: 200
	});
		//$(".triwulan").summernote({height:150});
		 $(document).ready(function(){
			$('.numeric').keypress(isNumber);
		});
		
	})

	function persentase(item)
	{
		var target = $(item).val();
		var id = item.id.split("_");
		var total = $("#target").val();
		var nilai = target/total*100;
		
		$("#tri_"+id[1]).val(nilai);
		if( parseInt(target) > parseInt(total)){
			alert("Target Melebihi");
			//console.log('target melebihi');
			$("#submit").attr('disabled','disabled');
		}else{
			//console.log('target tidak melebihi');
			$("#submit").removeAttr('disabled');
		
		}

	}
	
	function isNumber(evt) {
    evt = (evt) ? evt : window.event;
		var charCode = (evt.which) ? evt.which : evt.keyCode;
		if (charCode > 31 && (charCode < 48 || charCode > 57)) {
			return false;
		}
		return true;
	}
</script>
{/literal}
