<script>

var pid = {$pid}

{literal}
	
	$(document).on('click', '#inputdokumenLakip', function(){

		inputdokumenLakip(pid, 1);
	})

	$(document).on('change', '.eselonid', function(){
		var id = $(this).val();
		redirect(basedomain+"lakip/dokumenLakip/?pid="+pid+"&parent_id="+id);
	})


{/literal}

</script>

<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Dokumen Lakip</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
	<li class="active"><a href="{$basedomain}">Home</a></li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->

<!--Page content-->
<!--===================================================-->
<div id="page-content">
	
	<!-- Row selection and deletion (multiple rows) -->
	<!--===================================================-->
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title">
			{if $isbsn == 1}
			{$ket = 'BSN'}
			{else if $isbsn == 2}
			{$ket = 'Eselon I'}
			{else if $isbsn == 3}
			{$ket = 'Eselon II'}{/if}
			Lakip Tk {$ket}</h3>
		</div>
		{if $user.type==1}
		<div id="create-toolbar" class="table-toolbar-left">
			<a href="javascript:void(0)"><button class="btn btn-success btn-labeled fa fa-pencil-square-o" id="inputdokumenLakip">Input dokumen</button></a>
		</div>
		<div id="separator-toolbar" class="table-toolbar-left">&nbsp;</div>
		{/if}
		{*}
		<div id="delete-toolbar" class="table-toolbar-left">
			<button id="demo-dt-delete-btn-course-list" class="btn btn-danger btn-labeled fa fa-times">Delete</button>
		</div>
		{/*}
		{if $isbsn != 1}
		<div class="col-md-12 table-toolbar-right">
			<div class="form-group">
              
                  <select class="form-control eselonid" name="parent_id">
                    {if $struktur}
                    {foreach $struktur as $val}
                    <option value="{$val.id}" {if $val.id==$parent_id}selected{/if}>{$val.singkatan}</option>
                    {/foreach}
                    {/if}
                  </select>
          	</div>
		</div>
		{else}
		<input type="hidden" class="eselonid" value="{$bsnid}">
		{/if}
		<!--{pr($data)}
		{pr($data_listgroup)}-->
		<br>
		<div class="panel-body">
			<div class="col-md-4">
        		<div class="portlet">
        			<div class="portlet-header"></div> <!-- /.portlet-header -->
			        
		            <div class="col-md-12">
		              	<div class="form-group">
							{if $cover}
		              			<img src="{$app_domain}public_assets/{$cover}" width="80%">
		              		{else}
		              			<img src="{$app_domain}assets/images/no-image.jpeg" width="80%">
		              		{/if}
			            </div>
		        	</div>
		            {if $dokumen}
		            {foreach $dokumen as $val}
		            <div class="col-md-12">
		              <div class="form-group">
		              <label for="text-input"><strong><u>
		              <a href="{$app_domain}public_assets/{$val.filename}" target="_blank">{$val.brief}</a>
					  </u></strong>
		              </label>
		              	{if $user.type==1}
						<a href="{$basedomain}lakip/delete/?id={$val.id}"><button id="" class="btn btn-danger fa fa-times"></button></a>
		              	{/if}
		              </div>
		            </div>
		            {/foreach}
		            {/if}
	            </div>
	    	</div> 

	    	<div class="col-md-8">
        		<div class="portlet">
        			<div class="portlet-header"></div> <!-- /.portlet-header -->
			        <div class="col-md-12">
		              <div class="form-group">
		              	<h3 class="panel-title">Visi</h3>
		                {if $visi}
						{foreach $visi as $val}
							{$val.desc}
						{/foreach}
						{/if}
		              </div>
		            </div>
		            <div class="col-md-12">
		              <div class="form-group">
		              	<h3 class="panel-title">Misi</h3>
	                  	{if $misi}
						{foreach $misi as $val}
							<p>{$val.desc}</p>
						{/foreach}
						{/if}
		              </div>
		            </div>
		            <div class="col-md-12">
		              <div class="form-group">
		              	<h3 class="panel-title">Tugas Pokok</h3>
		               {if $tujuan}
						{foreach $tujuan as $val}
							<p>{$val.desc}</p>
						{/foreach}
						{/if}
		                </div>
		            </div>
	            </div>
	    	</div> 
		</div>

	</div>
	<!--===================================================-->
	<!-- End Row selection and deletion (multiple rows) -->
	
	
</div>
<!--===================================================-->
<!--End page content-->

