<!--JAVASCRIPT-->
	<!--=================================================-->
	
	<!--Nifty Admin [ RECOMMENDED ]-->
	<script src="{$basedomain}assets/js/nifty.min.js"></script>


	<!--Demo script [ DEMONSTRATION ]-->
	<script src="{$basedomain}assets/js/demo/nifty-demo.min.js"></script>

	<!--DataTables Sample [ SAMPLE ]-->
	<script src="{$basedomain}assets/js/demo/tables-datatables.js"></script>

	<!--Form Component [ SAMPLE ]-->
	<script src="{$basedomain}assets/js/demo/form-component.js"></script>
