<div class="row">
	<div class="col-md-12">
		<h3 align="center" style="text-transform: uppercase;">LAPORAN {$info.trwulan} {$info.thn}</h3>
	</div>
</div>
<div>
	<table cellspacing="0" style="text-align: left; border-collapse: collapse; margin-left: auto; margin-right: auto; width: 100%;">
		<tr>
			<!--<td style="width:10px">&nbsp;</td>-->
			<td style="width:200px">Output(Kode)</td>
			<td>: {$info.nama_output|cat:' ('|cat:$info.kd_giat|cat:'.'|cat:$info.kd_output|cat:')'}</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<!--<td style="width:10px">&nbsp;</td>-->
			<td style="width:200px">Nama Kegiatan</td>
			<td>: {$info.nama_kegiatan|cat:' ('|cat:$info.kd_giat|cat:')'} </td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<!--<td style="width:10px">&nbsp;</td>-->
			<td style="width:200px">Jumlah Anggaran</td>
			<td>: {number_format($info.pagu_output,"0",",",".")}</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<!--<td style="width:10px">&nbsp;</td>-->
			<td style="width:200px">Unit Eselon II</td>
			<td>: {$info.unit_eselon}</td>
			<td>&nbsp;</td>
		</tr>
	</table>
</div>
<br/>
<div class="row">
	<table border = "1"  cellspacing="0" width="100%" style=" font-size:11pt; text-align: left; border-collapse: collapse; margin-left: auto; margin-right: auto; width: 100%;">
		<thead>
			<tr>
				<th rowspan="2">IKK</th>
				<th style="text-align:center;"  rowspan="2">Target</th>
				<th style="text-align:center;"  rowspan="2">Satuan</th>
				<th style="text-align:center;"  rowspan="2">Pagu Anggaran</th>
				<th style="text-align:center;"  colspan="3" class="text-center">Target</th>
				<th style="text-align:center;"  colspan="3" class="text-center">Realisasi</th>
				<th style="text-align:center;"  rowspan="2">Realisasi Fisik(Output dan IKK)</th>
			</tr>
			<tr>
				<th  style="text-align:center;"  >Anggaran</th>
				<th  style="text-align:center;"  >% Anggaran</th>
				<th  style="text-align:center;"  >% Kinerja</th>
				<th  style="text-align:center;"  >Anggaran</th>
				<th  style="text-align:center;"  >% Anggaran</th>
				<th  style="text-align:center;"  >% Kinerja</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="text-align:center;" style="width: 300px;">1</td>
				<td style="text-align:center;">2</td>
				<td style="text-align:center;">3</td>
				<td style="text-align:center;">4</td>
				<td style="text-align:center;">5</td>
				<td style="text-align:center;">6</td>
				<td style="text-align:center;">7</td>
				<td style="text-align:center;">8</td>
				<td style="text-align:center;">9</td>
				<td style="text-align:center;">10</td>
				<td style="text-align:center;">11</td>
			</tr>
			<tr>
				<td colspan="11" style="font-weight: bold;">{$info.kd_giat}</td>
			</tr>
			<tr>
				<td style="font-weight: bold;">Output :({$info.kd_giat|cat:'.'|cat:$info.kd_output})<br/>
					{$info.nama_kegiatan}
				</td>
				<!--<td style="text-align:center;">{$info.target}</td>
				<td style="text-align:center;">{$info.target_satuan}</td>
				<td style="text-align:right;">{number_format($info.tot_pagu,'0',',','.')}</td>
				<td style="text-align:right;">{number_format($info.tot_rencana_sd_tw,'0',',','.')}</td>
				<td style="text-align:center;">{number_format($info.tot_persentase_rencana_anggaran,'2',',','.')}</td>
				<td style="text-align:center;">{number_format($info.tot_rencana_sd_tw_target,'2',',','.')}</td>
				<td style="text-align:right;">{number_format($info.tot_get_realisasi,'0',',','.')}</td>
				<td style="text-align:center;">{number_format($info.tot_persentase_reals_anggaran,'2',',','.')}</td>
				<td style="text-align:center;">{number_format($info.tot_realisasi_sd_tw_target,'2',',','.')}</td>-->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			{foreach $list as $val}
			<tr>
				<td >{$val.desc}</td>
				<td style="text-align:center;">	
					{if $val.detail.target}
						{number_format($val.detail.target,'0',',','.')}
					{else if}
						{number_format(0,'0',',','.')}
					{/if}
				</td>
				<td style="text-align:center;">
					{$val.detail.satuan}
				</td>
				<td style="text-align:right;">
					{number_format($val.detail.pagu_kmpnen,'0',',','.')}
				</td>
				<td style="text-align:right;" >
					{number_format($val.detail.rencana_anggaran_sd_tw,'0',',','.')}
				</td>
				<td style="text-align:center;">
					{number_format($val.detail.persentase_rencana_anggaran,'2',',','.')|cat:'%'}
				</td>
				<td style="text-align:center;">
					{number_format($val.detail.rencana_target_sd_tw,'2',',','.')|cat:'%'}
				</td>
				
				<td style="text-align:right;">
					{number_format($val.detail.realisasi_anggaran_sd_tw,'0',',','.')}
				</td>
				<td style="text-align:center;">
					{number_format($val.detail.persentase_realisasi_anggaran,'2',',','.')|cat:'%'}
				</td>
				<td style="text-align:center;">
					{if $val.detail.realisasi_target_sd_tw}
						{number_format($val.detail.realisasi_target_sd_tw,'2',',','.')|cat:'%'}
					{else if}
						{number_format(0,'2',',','.')|cat:'%'}
					{/if}
				</td>
				
				<td >
					{if $val.detail.outikk}
						{number_format($val.detail.outikk,'0',',','.')}
					{else if}
						{number_format(0,'0',',','.')}
					{/if}
				</td>
			</tr>
			{/foreach}
		</tbody>
	</table>
</div>
</div>

<!--<div>
	<label class="control-label"><strong>Kendala yang dihadapi (terkait pencapaian kinerja)</strong></label>
</div>-->
<dl>
  <dt><strong><u>Kendala yang dihadapi (terkait pencapaian kinerja) :</u></strong></dt>
  <!--{foreach $kendala as $dt_kendala}
	<dd>- {$dt_kendala}</dd>
  {/foreach}-->
  {$kendala}
</dl>
<dl>
  <dt><strong><u>Tindak lanjut yang diperlukan (terkait pencapaian kinerja) :</u></strong></dt>
  <!--{foreach $tdklanjut as $dt_tdklnjt}
	<dd>- {$dt_tdklnjt}</dd>
  {/foreach}-->
  {$tdklanjut}
</dl>
<br/>
<div>
<table style="text-align: left; border-collapse: collapse; width: 100%; height: 90px; font-size:" border="0" >
	<tr>
	   <td style="text-align: center;" colspan="3" width="400px">&nbsp;</td>
	   <td>&nbsp;</td>
	   <td>&nbsp;</td>
	   <td>&nbsp;</td>
	   <td>&nbsp;</td>
	   <td>&nbsp;</td>
	   <td style="text-align: center;" colspan="3" width="400px">Jakarta, {$tgl_format}</td>
	</tr>
	<tr>
	   <td style="text-align: center;" colspan="3" width="400px">Mengetahui:</td>
	   <td>&nbsp;</td>
	   <td>&nbsp;</td>
	   <td>&nbsp;</td>
	   <td>&nbsp;</td>
	   <td>&nbsp;</td>
	   <td style="text-align: center;" colspan="3" width="400px">&nbsp;</td>
	</tr>
	<tr>
	   <td style="text-align: center;" colspan="3" width="400px">
	   {$jabatan_pejabat_eselon_I} <!--{$ttd_nama}--></td>
	   <td>&nbsp;</td>
	   <td>&nbsp;</td>
	   <td>&nbsp;</td>
	   <td>&nbsp;</td>
	   <td>&nbsp;</td>
	   <td style="text-align: center;" colspan="3" width="400px">
	   {$jabatan_pejabat_eselon_II} {$info.unit_eselon}</td>
	</tr>
	<tr>
	   <td colspan="11" style="height: 100px"></td>
	</tr>
	<tr>
	   <td style="text-align: center;" colspan="3" width="400px">({$nama_pejabat_eselon_I})</td>
	   <td>&nbsp;</td>
	   <td>&nbsp;</td>
	   <td>&nbsp;</td>
	   <td>&nbsp;</td>
	   <td>&nbsp;</td>
	   <td style="text-align: center;" colspan="3" width="400px">({$nama_pejabat_eselon_II})</td>
	</tr>
</table>
</div>	