
<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Create Visi Misi</h1>

	<!--Searchbox-->
	<!-- <div class="searchbox">
		<div class="input-group custom-search-form">
			<input type="text" class="form-control" placeholder="Search..">
			<span class="input-group-btn">
				<button class="text-muted" type="button"><i class="fa fa-search"></i></button>
			</span>
		</div>
	</div> -->
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
	<li><a href="{$basedomain}">Home</a></li>
	<li><a href="{$basedomain}course/courselist">Course</a></li>
	<li class="active">Add Course</li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->

<!--Page content-->
<!--===================================================-->
<div id="page-content">
	
	<div class="row">

		<div class="col-sm-12">
			<div class="panel">
				<div class="panel-heading">
					<h3 class="panel-title">Input Form</h3>
				</div>
				
				<!--===================================================-->
				<form class="form-horizontal" method="POST" action="{$basedomain}renstra/editKinerja" enctype="multipart/form-data">
					<div class="panel-body">
						<div class="form-group">
							<label class="col-sm-3 control-label">{$text1}</label>
							<div class="col-sm-4">
								<input type="text" name="title" class="form-control" value="{$text1value}" required disabled>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">{$text2}</label>
							<div class="col-sm-4">
								<input type="text" name="title" class="form-control" value="{$text2value}" required readonly>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">{$text3}</label>
							<div class="col-sm-6">
								<textarea rows="5" id="desc" name="desc" class="form-control" disabled>{$text3value}</textarea> 
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">{$text4}</label>
							<div class="col-sm-6">
								<textarea rows="5" id="ikss" name="desc" class="form-control">{$text4value}</textarea> 
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">{$text5}</label>
							<div class="col-sm-6">
								<table>
									<thead>
										<tr>
											{if $tahuntarget}
											{foreach $tahuntarget as $a}
											<td class="text-center">{$a}</td>
											{/foreach}
											{/if}
										</tr>
									</thead>
									<tbody>
										<tr>
											{foreach $tahuntarget as $k => $a}
											<td><input type="text" name="input[]" value="{$target.0.target.$k}"></td>
											{/foreach}
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="panel-footer text-right">
						<input type="hidden" name="id" value="{$id}">
						<input type="hidden" name="type" value="{$type}">
						<input type="hidden" name="category" value="{$category}">
						<input type="hidden" name="parent_id" value="{$parent_id}">
						<button class="btn btn-info" type="submit" name="{$submit}" value='1'>Save</button>
					</div>
				</form>
				<!--===================================================-->
				<!--End Horizontal Form-->
	
			</div>
		</div>
	</div>


	
	
</div>
<!--===================================================-->
<!--End page content-->
