
<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Nama Kegiatan</h1>

	<!--Searchbox-->
	<!-- <div class="searchbox">
		<div class="input-group custom-search-form">
			<input type="text" class="form-control" placeholder="Search..">
			<span class="input-group-btn">
				<button class="text-muted" type="button"><i class="fa fa-search"></i></button>
			</span>
		</div>
	</div> -->
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
	<li><a href="{$basedomain}">Home</a></li>
	<li><a href="{$basedomain}renstra/kinerja/kegiatan">Matriks Kinerja</a></li>
	<li class="active"><a href="{$basedomain}renstra/kegiatan">Nama Kegiatan</a></li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->

<!--Page content-->
<!--===================================================-->
<div id="page-content">
	
	<div class="row">

		<div class="col-sm-12">
			<div class="panel">
				<div class="panel-heading">
					<h3 class="panel-title">Input Nama Kegiatan</h3>
				</div>
				
				<!--===================================================-->
				<form class="form-horizontal" method="POST" action="{$basedomain}renstra/editKegiatan" enctype="multipart/form-data">
					<div class="panel-body">
						{if $form}
						{foreach $form as $val}
							{$val}
						{/foreach}
						{/if}
						
						{if $req ==1}
						<div class="form-group">
							<label class="col-sm-3 control-label">Lembaga/Eselon I/Eselon II</label>
				    		<div class="col-sm-4">
				    			
				              		<select class="form-control eselonid" name="data">
				                    {if $struktur}
				                    {foreach $struktur as $val}
				                    <option value="{$val.id}" {if $val.id == $kegiatan.0.data}selected{/if}>{$val.singkatan}</option>
				                    {/foreach}
				                    {/if}
				                  	</select>
				          	</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Jenis Kegiatan</label>
				    		<div class="col-sm-4">
				    			
			              		<select class="form-control eselonid" name="tags">
			                    	<option value="K/L" {if $kegiatan.0.tags == "K/L"}selected{/if}>K/L</option>
			                    	<option value="N" {if $kegiatan.0.tags == "N"}selected{/if}>N</option>
			                    	<option value="B" {if $kegiatan.0.tags == "B"}selected{/if}>B</option>
			                    	<option value="NS" {if $kegiatan.0.tags == "NS"}selected{/if}>NS</option>
			                    </select>
				          	</div>
						</div>
						{/if}
						{if $req == 3}
						<div class="form-group">
							<label class="col-sm-3 control-label">Target</label>
							<div class="col-sm-6">
								<table>
									<thead>
										<tr>
											{if $tahuntarget}
											{foreach $tahuntarget as $a}
											<td class="text-center">{$a}</td>
											{/foreach}
											{/if}
										</tr>
									</thead>
									<tbody>
										<tr>
											{foreach $tahuntarget as $k => $a}
											<td><input type="text"  class="form-control" name="input[]" value="{$outcome.0.target.$k}"></td>
											{/foreach}
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						{*}
						<div class="form-group">
							<label class="col-sm-3 control-label">Eselon 1</label>
				    		<div class="col-sm-4">
				    			<button class="form-control" type="text" name="indikator[]" value='1'>Ya</button>
				    			<button class="form-control" type="text" name="indikator[]" value='0'>Tidak</button>
				          	</div>
						</div>{/*}
						{/if}
					</div>
					<div class="panel-footer text-right">
						<button class="btn btn-info" type="submit" name="{$submit}" value='1'>Save</button>
					</div>
				</form>
				<!--===================================================-->
				<!--End Horizontal Form-->
	
			</div>
		</div>
	</div>


	
	
</div>
<!--===================================================-->
<!--End page content-->
