<script>
{literal}
	
	$(document).on('click', '#inputvisi', function(){

		inputsasaran(1);
	})

	

	$(document).on('click', '#editvisi', function(){
		var iddata = $(this).attr('data-id');
		inputsasaran(1, iddata);
	})

	

	$(document).on('change', '.eselonid', function(){
		var id = $(this).val();
		redirect(basedomain+"renstra/sasaran/?parent_id="+id);
	})


{/literal}

</script>

<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Nama Kegiatan</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
	<li class="active"><a href="{$basedomain}">Home</a></li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->

<!--Page content-->
<!--===================================================-->
<div id="page-content">
	
	<!-- Row selection and deletion (multiple rows) -->
	<!--===================================================-->
	<div class="panel">
		{*}<div class="panel-heading">
			<h3 class="panel-title">Visi Misi BSN</h3>
		</div>
		
		<div id="create-toolbar" class="table-toolbar-left">
			<a href="javascript:void(0)"><button class="btn btn-success btn-labeled fa fa-pencil-square-o" id="inputvisi">Input Sasaran Strategis</button></a>
		</div>
		<div id="separator-toolbar" class="table-toolbar-left">&nbsp;</div>
		
		<div id="delete-toolbar" class="table-toolbar-left">
			<button id="demo-dt-delete-btn-course-list" class="btn btn-danger btn-labeled fa fa-times">Delete</button>
		</div>
		{/*}
		
		<!--{pr($data)}
		{pr($data_listgroup)}-->
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th colspan="2"class="text-center">Program</th>
							<th colspan="2"class="text-center">Kegiatan</th>
							<th rowspan="2"class="text-center">Eselon II <br/>Pelaksana Kegiatan</th>
							<th rowspan="2"class="text-center">Prioritas</th>
							<th rowspan="2" colspan="2"class="text-center">Aksi</th>
						</tr>
						<tr>
							<th class="text-center">Kode</th>
							<th class="text-center">Nama</th>
							<th class="text-center">Kode</th>
							<th class="text-center">Nama</th>
						</tr>
					</thead>
					<tbody>
						{if $kegiatan}
						{foreach $kegiatan as $val}
						<tr>
							<td class="text-center">{$val.brief}</td>
							<td  colspan="5">{$val.desc}</td>
							<td class="text-center" colspan="2">
								<div id="create-toolbar" >
									<a href="{$basedomain}renstra/editKegiatan/?req=1&parent_id={$val.id}"><button class="btn btn-success btn-labeled fa fa-pencil-square-o">Tambah Kegiatan</button></a>
									<a href="{$basedomain}renstra/delete/?id={$val.id}&req=6"><button class="btn btn-danger btn-icon icon-lg fa fa-times"></button></a>
								</div>
							</td>
						</tr>
						{if $val.kegiatan}
						{foreach $val.kegiatan as $v}
						<tr>
							<td class="text-center">&nbsp;</td>
							<td><a class="btn-link" href="#">&nbsp;</a></td>
							<td><span class="label label-purple">{$v.title}</span></td>
							<td>{$v.desc}</td>
							<td>{$v.eselon.nama_satker}</td>
							<td>{$v.tags}</td>
							<td>
								<div id="create-toolbar" >
									<a href="{$basedomain}renstra/editKegiatan/?req=1&parent_id={$v.parent_id}&id={$v.id}"><button class="btn btn-warning btn-icon icon-lg fa fa-pencil"></button></a>
								</div>
							</td>
							<td>
									<a href="{$basedomain}renstra/delete/?id={$v.id}&req=6"><button class="btn btn-danger btn-icon icon-lg fa fa-times"></button></a>
							</td>
						</tr>
						{/foreach}
						{/if}
						{/foreach}
						{/if}
						
						
					</tbody>
				</table>
			</div>
			
			
		</div>
	</div>
	<!--===================================================-->
	<!-- End Row selection and deletion (multiple rows) -->
	
	
</div>
<!--===================================================-->
<!--End page content-->

