
<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Output</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
	<li class="active"><a href="{$basedomain}">Home</a></li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->

<!--Page content-->
<!--===================================================-->
<div id="page-content">
	
	<!-- Row selection and deletion (multiple rows) -->
	<!--===================================================-->
	<div class="panel">
		{*}<div class="panel-heading">
			<h3 class="panel-title">Renstra Tingkat</h3>
		</div>
		
		<div id="create-toolbar" class="table-toolbar-left">
			<a href="javascript:void(0)"><button class="btn btn-success btn-labeled fa fa-pencil-square-o" id="inputvisi">Input Sasaran Strategis</button></a>
		</div>
		<div id="separator-toolbar" class="table-toolbar-left">&nbsp;</div>
		
		<div id="delete-toolbar" class="table-toolbar-left">
			<button id="demo-dt-delete-btn-course-list" class="btn btn-danger btn-labeled fa fa-times">Delete</button>
		</div>
		
		{/*}

		<!--{pr($data)}
		{pr($data_listgroup)}-->
		<div class="panel-body">
			<div class="col-md-12 table-toolbar-right">
				<div class="form-group">
	              <!-- <label for="text-input">Eselon 1</label> -->
	                  <select class="form-control" name="ref" id="kode_kegiatan">
	                    {if $dropdown}
	                    {foreach $dropdown as $val}
	                    <option value="{$val.title}" {if $val.title==$ref_id}selected{/if}>{$val.title}
	                    </option>
	                    {/foreach}
	                    {/if}
	                  </select>
	          	</div>
			</div> 
			&nbsp;
			<input type="hidden" name="parent_id" id="parent_id" value="{$parent_id}">
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th colspan="3" class="text-center">Kegiatan</th>
							<th rowspan="2" colspan="3"class="text-center">Aksi</th>
						</tr>
						<tr>
							<th colspan="3"class="text-center">Aksi Output / Indikator Kinerja Kegiatan (IKK)</th>
						</tr>
					</thead>
					<tbody>
						{if $kegiatan}
						{foreach $kegiatan as $val}
						<tr>
							<td class="text-center">{$val.title}</td>
							<td  colspan="2">{$val.desc}</td>
							<td class="text-center" colspan="3">
								{if $user.type==1}
								<div id="create-toolbar" >
									<a href="{$basedomain}renstra/editOutput/?req=1&parent_id={$val.id}&ref_id={$ref_id}"><button class="btn btn-success btn-labeled fa fa-pencil-square-o">Tambah Output</button></a>
									<!--<a href="{$basedomain}renstra/delete/?id={$val.id}&req=7"><button class="btn btn-danger btn-icon icon-lg fa fa-times"></button></a>-->
								</div>
								{/if}
							</td>
						</tr>
						{foreach $val.kegiatan as $v}
						<tr>
							<td class="text-center">{$v.title}</td>
							<td colspan="2">{$v.desc}
								<table class="table table-bordered">
									<thead>
										<tr>
											<th class="text-center">&nbsp;</th>
											{foreach $tahuntarget as $tahun}
											<th class="text-center">{$tahun}</th>
											{/foreach}
											<th class="text-center">Satuan</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="text-center">Anggaran (Ribuan Rp.)</td>
											{foreach $v.target_anggaran as $target}
											<td>{$target}</td>
											{/foreach}
											<td>{$v.satuan_target_anggaran}</td>
										</tr>
										<tr>
											<td class="text-center">Target</td>
											{foreach $v.target as $target}
											<td class="text-center">{$target}</td>
											{/foreach}
											<td class="text-center">{$v.satuan_target}</td>
										</tr>
									</tbody>
								</table>
							</td>

							<td class="text-center">
								{if $user.type==1}

								<div id="create-toolbar" >
									<a href="{$basedomain}renstra/editOutput/?req=1&parent_id={$v.parent_id}&id={$v.id}&ref_id={$ref_id}"><button class="btn btn-warning btn-icon icon-lg fa fa-pencil"></button></a>
								</div>
								{/if}
							</td>

							<td class="text-center">
								{if $user.type==1}

									<a href="{$basedomain}renstra/delete/?id={$v.id}&req=7&ref_id={$ref_id}" onclick="return confirm('Yakin Hapus?')"><button class="btn btn-danger btn-icon icon-lg fa fa-times"></button></a>
								{/if}
							</td>
							<td>
								{if $user.type==1}
								<a href="{$basedomain}renstra/editOutput/?req=2&parent_id={$v.id}&ref_id={$ref_id}"><button class="btn btn-success btn-labeled fa fa-pencil-square-o">Tambah Ikk</button></a>
								{/if}
							</td>

						</tr>
						{if $v.output}
						{foreach $v.output as $a => $out}
						<tr>
							<td class="text-center">&nbsp;</td>
							<td class="text-center">{$a+1}</td>
							<td>{$out.desc}
								<table class="table table-bordered">
									<thead>
										<tr>
											<th >&nbsp;</th>
											{foreach $tahuntarget as $tahun}
											<th class="text-center">{$tahun}</th>
											{/foreach}
											<th class="text-center">Satuan </th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Target</td>
											{foreach $out.target as $target}
											<td class="text-center">{$target}</td>
											{/foreach}
											<td class="text-center">{$out.satuan_target}</td>
										</tr>
									</tbody>
								</table>
							</td>

							<td class="text-center">
								{if $user.type==1}

								<div id="create-toolbar" >
									<a href="{$basedomain}renstra/editOutput/?req=2&parent_id={$out.parent_id}&id={$out.id}&ref_id={$ref_id}"><button class="btn btn-warning btn-icon icon-lg fa fa-pencil"></button></a>
								</div>
								{/if}
							</td>

							<td class="text-center">
								{if $user.type==1}

									<a href="{$basedomain}renstra/delete/?id={$out.id}&req=7&ref_id={$ref_id}" onclick="return confirm('Yakin Hapus?')"><button class="btn btn-danger btn-icon icon-lg fa fa-times"></button></a>
								{/if}
							</td>
							<td>&nbsp;</td>
						</tr>
						{/foreach}
						{/if}
						{/foreach}
						{/foreach}
						{/if}
						
						
					</tbody>
				</table>
			</div>
			
			
		</div>
	</div>
	<!--===================================================-->
	<!-- End Row selection and deletion (multiple rows) -->
	
	
</div>
<!--===================================================-->
<!--End page content-->
<script>
{literal}
	
	$(document).on('click', '#inputvisi', function(){

		inputsasaran(1);
	})

	

	$(document).on('click', '#editvisi', function(){
		var iddata = $(this).attr('data-id');
		inputsasaran(1, iddata);
	})

	

	$(document).on('change', '.eselonid', function(){
		var id = $(this).val();
		redirect(basedomain+"renstra/sasaran/?parent_id="+id);
	})

	$('#kode_kegiatan').on('change', function(){
		
		var parent_id = $('#parent_id').val();
		var kode_kegiatan = $('#kode_kegiatan').val();
		console.log(parent_id);
		console.log(kode_kegiatan);

		setTimeout(
		   function() 
		   {
		window.location.replace(basedomain+"renstra/output/?parent_id="+parent_id+"&ref="+kode_kegiatan);
		   }, 500);
	})


{/literal}

</script>