<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Penetapan Kinerja Tingkat BSN</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
	<li class="active"><a href="{$basedomain}">Home</a></li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->

<!--Page content-->
<!--===================================================-->
<div id="page-content">
	
	<!-- Row selection and deletion (multiple rows) -->
	<!--===================================================-->
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title">Penetapan Kinerja </h3>
		</div>
		
		<div class="panel-body">
			<div class="pad-btm form-inline">
				<div class="row">
					<div class="col-sm-6 table-toolbar-left">
						<a href="{$basedomain}perjanjiankinerja/add"><button id="demo-btn-addrow" class="btn btn-purple btn-labeled fa fa-plus">Tambah</button></a>
						<button type="button" id="print" class="btn btn-danger btn-labeled fa fa-file-pdf-o">Download pdf</button>
					</div>
				</div>
			</div>
			<table id="newslist" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th width="40%">Sasaran Strategis</th>
						<th width="40%" class="min-tablet">Indikator Kinerja</th>
						<th width="5%" class="min-tablet" colspan="2">Target</th>
						<th width="10%" class="min-desktop">Aksi</th>
					</tr>
				</thead>
				<tbody>
					{if !empty($data)}
					{foreach $data as $key => $val}
					<tr>
					<td colspan="5"><strong>{$key} Perspectives</strong></td>
					</tr>
						{foreach $val as $value}
							<tr>
								<td>{$value.desc}</td>
								<td>{$value.nm_pk}</td>
								<td>{$value.target}</td>
								<td>{$value.satuan}</td>
								<td align="center">
									<a href="{$basedomain}perjanjiankinerja/edit/?id={$value.no_sasaran}">
										<button class="btn btn-sm btn-warning fa fa-pencil"></button>
									</a>
									<a href="{$basedomain}perjanjiankinerja/del_pk/?id={$value.no_sasaran}" onclick="return confirm('Seluruh indikator sasaran strategis ini akan di hapus. Yakin Hapus?')">
										<button class="btn btn-sm btn-danger fa fa-times"></button>
									</a>
								</td>
							</tr>
						{/foreach}
					{/foreach}
					{else}
					<tr><td colspan="5">Tidak ada data</td></tr>
					{/if}
				</tbody>
			</table>
		</div>
	</div>
	<!--===================================================-->
	<!-- End Row selection and deletion (multiple rows) -->
	
	
</div>
<!--===================================================-->
<!--End page content-->
{literal}
<script>
	$('#print').on('click', function(){
		window.location.href=basedomain+"perjanjiankinerja/print_bsn/";
	});	
</script>
{/literal}
