<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Penetapan Kinerja Tingkat Eselon {$labelEs}</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
	<li class="active"><a href="{$basedomain}">Home</a></li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->

<!--Page content-->
<!--===================================================-->
<div id="page-content">
	
	<!-- Row selection and deletion (multiple rows) -->
	<!--===================================================-->
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title" id="title">{$label} </h3>
		</div>
		
		<div class="panel-body">
			<div class="pad-btm form-inline">
				<div class="row">
					<div class="col-sm-6 table-toolbar-left">
						{if $eselon.type eq 1 || $eselon.type eq 3}
						<a href="{$basedomain}perjanjiankinerja/add_eselon/?id={$id}&kd={$idpk}&tp={$tipe}" id="addData">
						<button id="demo-btn-addrow" class="btn btn-purple btn-labeled fa fa-plus">Tambah</button></a>
						{/if}
						<button type="button" id="print" class="btn btn-danger btn-labeled fa fa-file-pdf-o">Download pdf</button>
					</div>
					<div class="col-sm-6 table-toolbar-right">
						<form method="post" action="{$basedomain}perjanjiankinerja/pk_eselon2/?tp={$es}">
							<select class="selectpicker" id="struktur" name="struktur">
								{foreach $struktur as $val}
								<option value="{$val.id}_{$val.nama_satker}_{$val.kode}" {if $val.id eq $id}selected{/if}>{$val.nama_satker}</option>
								{/foreach}
							</select>
							<button type="submit" class="btn btn-primary"> Cari</button>
						</form>
					</div>
				</div>
			</div>
			<table id="newslist" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th width="40%">Sasaran Strategis</th>
						<th width="40%" class="min-tablet">Indikator Kinerja</th>
						<th width="5%" class="min-tablet" colspan="2">Target</th>
						{if $eselon.type eq 1 || $eselon.type eq 3}<th width="10%" class="min-desktop">Aksi</th>{/if}
					</tr>
				</thead>
				<tbody>
					{if !empty($data)}
					{foreach $data as $key => $val}
					<tr>
					<td colspan="5"><strong>{$key} Perspectives</strong></td>
					</tr>
						{foreach $val as $value}
							<tr>
								<td>{$value.desc}</td>
								<td>{$value.nm_pk}</td>
								<td>{$value.target}</td>
								<td>{$value.satuan}</td>
								{if $eselon.type eq 1 || $eselon.type eq 3}<td align="center">
									<a href="{$basedomain}perjanjiankinerja/edit_eselon2/?id={$value.id}&kd={$idpk}&pr={$id}">
										<button class="btn btn-sm btn-warning fa fa-pencil"></button>
									</a>
									<a href="{$basedomain}perjanjiankinerja/del_pk_eselon2/?id={$value.id}&kd={$idpk}" onclick="return confirm('Yakin Hapus?')">
										<button class="btn btn-sm btn-danger fa fa-times"></button>
									</a>
								</td>{/if}
							</tr>
						{/foreach}
					{/foreach}
					{else}
					<tr><td colspan="5">Tidak ada data</td></tr>
					{/if}
				</tbody>
				<!-- <tbody>
					{if !empty($data)}
					{foreach $data as $val}
					<tr>
						<td>{$val.desc}</td>
						<td>{$val.no_pk}</td>
						<td>{$val.nm_pk}</td>
						<td>{$val.target}</td>
						<td align="center">
							<a href="{$basedomain}perjanjiankinerja/edit_eselon/?id={$val.id}&kd={$idpk}&pr={$id}">
								<button class="btn btn-sm btn-warning fa fa-pencil"></button>
							</a>
							<a href="{$basedomain}perjanjiankinerja/del_pk/?id={$val.id}" onclick="return confirm('Yakin Hapus?')">
								<button class="btn btn-sm btn-danger fa fa-times"></button>
							</a>
						</td>
					</tr>
					{/foreach}
					{else}
					<tr><td align="center" colspan="5">Data Kosong</td></tr>
					{/if}
				</tbody> -->
			</table>
		</div>
	</div>
	<!--===================================================-->
	<!-- End Row selection and deletion (multiple rows) -->
	
	
</div>
<!--===================================================-->
<!--End page content-->
{literal}
<script>
	$(document).ready(function() {
	
		$('#print').on('click', function(){
		var kd_unit = $('#struktur').val();
		//console.log(kd_unit);
		//var split_kode = kd_unit.split("_");
		//console.log(split_kode[2]);
		
			window.location.href=basedomain+"perjanjiankinerja/print_eselon2/?kd_unit="+kd_unit;
		});	

});
</script>
{/literal}

