<script>
$(window).on('load', function() {

	// Datatables
	// Row selection and deletion (multiple rows)
	// -----------------------------------------------------------------
	var rowDeletion = $('#newslist').DataTable({
		"responsive": true,
		"language": {
			"paginate": {
			  "previous": '<i class="fa fa-angle-left"></i>',
			  "next": '<i class="fa fa-angle-right"></i>'
			}
		},
		"dom": '<"toolbar">frtip'
	});

	$('#create-toolbar').appendTo($("div.toolbar"));
	$('#separator-toolbar').appendTo($("div.toolbar"));
	$('#delete-toolbar').appendTo($("div.toolbar"));

})

</script>

<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Home (Contoh Table & Form)</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
	<li class="active"><a href="{$basedomain}">Home</a></li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->

<!--Page content-->
<!--===================================================-->
<div id="page-content">
	
	<!-- Row selection and deletion (multiple rows) -->
	<!--===================================================-->
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title">Sample Table </h3>
		</div>
		<div id="create-toolbar" class="table-toolbar-left">
			<a href="{$basedomain}home/sampleform"><button class="btn btn-info btn-labeled fa fa-pencil-square-o">Create</button></a>
		</div>
		<div id="separator-toolbar" class="table-toolbar-left">&nbsp;</div>
		<div id="delete-toolbar" class="table-toolbar-left">
			<button id="demo-dt-delete-btn-course-list" class="btn btn-danger btn-labeled fa fa-times">Delete</button>
		</div>
		<!--{pr($data)}
		{pr($data_listgroup)}-->
		<div class="panel-body">
			<table id="newslist" class="table table-striped table-bordered" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>ID laporan</th>
						<th>Nama user</th>
						<th class="min-tablet">Judul Laporan</th>
						<th class="min-tablet">Tanggal Laporan</th>
						<th class="min-desktop">Status</th>
						<th class="min-desktop">Sisa Waktu</th>
						<th class="min-desktop">Detail</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Tiger Nixon</td>
						<td>System Architect</td>
						<td>Edinburgh</td>
						<td>61</td>
						<td><button class="btn btn-success btn-labeled fa fa-check">Aktif</button></td>
						<td>$320,800</td>
						<td><a href="{$basedomain}daftar_pengaduan/detail"><button class="btn btn-info btn-labeled fa fa-eye">View Detail</button></a></td>
					</tr>
					<tr>
						<td>Garrett Winters</td>
						<td>Accountant</td>
						<td>Tokyo</td>
						<td>63</td>
						<td><button class="btn btn-success btn-labeled fa fa-check">Aktif</button></td>
						<td>$170,750</td>
						<td><a href="{$basedomain}daftar_pengaduan/detail"><button class="btn btn-info btn-labeled fa fa-eye">View Detail</button></a></td>
					</tr>
					<tr>
						<td>Ashton Cox</td>
						<td>Junior Technical Author</td>
						<td>San Francisco</td>
						<td>66</td>
						<td><button class="btn btn-danger btn-labeled fa fa-ban">Non Aktif</button></td>
						<td>$86,000</td>
						<td><a href="{$basedomain}daftar_pengaduan/detail"><button class="btn btn-info btn-labeled fa fa-eye">View Detail</button></a></td>
					</tr>
					<tr>
						<td>Cedric Kelly</td>
						<td>Senior Javascript Developer</td>
						<td>Edinburgh</td>
						<td>22</td>
						<td><button class="btn btn-danger btn-labeled fa fa-ban">Non Aktif</button></td>
						<td>$433,060</td>
						<td><a href="{$basedomain}daftar_pengaduan/detail"><button class="btn btn-info btn-labeled fa fa-eye">View Detail</button></a></td>
					</tr>
					<tr>
						<td>Airi Satou</td>
						<td>Accountant</td>
						<td>Tokyo</td>
						<td>33</td>
						<td><button class="btn btn-success btn-labeled fa fa-check">Aktif</button></td>
						<td>$162,700</td>
						<td><a href="{$basedomain}daftar_pengaduan/detail"><button class="btn btn-info btn-labeled fa fa-eye">View Detail</button></a></td>
					</tr>
					<tr>
						<td>Brielle Williamson</td>
						<td>Integration Specialist</td>
						<td>New York</td>
						<td>61</td>
						<td><button class="btn btn-danger btn-labeled fa fa-ban">Non Aktif</button></td>
						<td>$372,000</td>
						<td><a href="{$basedomain}daftar_pengaduan/detail"><button class="btn btn-info btn-labeled fa fa-eye">View Detail</button></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!--===================================================-->
	<!-- End Row selection and deletion (multiple rows) -->
	
	
</div>
<!--===================================================-->
<!--End page content-->

