<script>
{literal}
	$(window).on('load', function() {

		// Datatables
		// Row selection and deletion (multiple rows)
		// -----------------------------------------------------------------
		var rowDeletion = $('#strOrg').DataTable({
			"responsive": true,
			"language": {
				"paginate": {
				  "previous": '<i class="fa fa-angle-left"></i>',
				  "next": '<i class="fa fa-angle-right"></i>'
				}
			},
			"dom": '<"toolbar">frtip'
		});

		$('#create-toolbar').appendTo($("div.toolbar"));

	})
	
	
	function isNumber(evt) {
		evt = (evt) ? evt : window.event;
		var charCode = (evt.which) ? evt.which : evt.keyCode;
		if (charCode > 31 && (charCode < 48 || charCode > 57)) {
			return false;
		}
		return true;
	}
{/literal}

</script>

<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Referensi Akun</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
	<li><a href="{$basedomain}">Home</a></li>
	<li class="active">Referensi Akun</li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->

<!--Page content-->
<!--===================================================-->
<div id="page-content">
	
	<!-- Row selection and deletion (multiple rows) -->
	<!--===================================================-->
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title">Referensi Akun</h3>
		</div>
		<div id="create-toolbar" class="table-toolbar-left">
			<!--<button id="output-tambah" class="btn btn-info btn-labeled fa fa-plus">Create</button-->
			<button id="Add" class="btn btn-info btn-labeled fa fa-plus">Tambah Akun</button>
		</div>
		<!--example-->
		<!--insert-->
		<div id="myModal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Tambah Akun</h4>
					</div>
					<div class="modal-body">
						<!--<p>Do you want to save changes you made to document before closing?</p>
						<p class="text-warning"><small>If you don't save, your changes will be lost.</small></p>-->
						<form class="form-horizontal">
							<div class="form-group"> 
								<label class="col-md-3 control-label" for="name">Kode Akun</label> 
									<div class="col-md-3"> 
										<input id="kdakun" name="kdakun" type="text" class="form-control input-md" maxlength="6" required="required" onkeypress="return isNumber(event)"> 
									</div>
							</div>
							
							
							<div class="form-group" id="message"> 
								<div class="col-md-3"></div>
								<div class="col-md-9"> 
										<label class="text-danger" id="help-text">Kode Akun ini telah tersedia</label>
								</div>
							</div>
							
							<div class="form-group"> 
								<label class="col-md-3 control-label" for="name">Nama Akun</label> 
									<div class="col-md-9"> 
										<input id="nmakun" name="nmakun" type="text" class="form-control input-md"  required="required"> 
									</div>
							</div>
							
						</form>	
					</div>
					<div class="modal-footer">
						<button type="button"  class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" id = "save" class="btn btn-primary" data-dismiss="modal">Save</button>
					</div>
				</div>
			</div>
		</div>
		
		<div id="myModal2" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Edit Akun</h4>
					</div>
					<div class="modal-body">
						<!--<p>Do you want to save changes you made to document before closing?</p>
						<p class="text-warning"><small>If you don't save, your changes will be lost.</small></p>-->
						<form class="form-horizontal">
							<div class="form-group"> 
								<label class="col-md-3 control-label" for="name">Kode Akun</label> 
									<div class="col-md-3"> 
										<input id="kdakun2" name="kdakun" type="text" class="form-control input-md" maxlength="6" required="required" onkeypress="return isNumber(event)"> 
										<input id="kdakunold" name="kdakun" type="hidden" class="form-control input-md"> 
									</div>
							</div>
							
							
							<div class="form-group" id="message2"> 
								<div class="col-md-3"></div>
								<div class="col-md-9"> 
										<label class="text-danger" id="help-text2">Kode Akun ini telah tersedia</label>
								</div>
							</div>
							
							<div class="form-group"> 
								<label class="col-md-3 control-label" for="name">Nama Akun</label> 
									<div class="col-md-9"> 
										<input id="nmakun2" name="nmakun" type="text" class="form-control input-md"  required="required"> 
									</div>
							</div>
							
						</form>	
					</div>
					<div class="modal-footer">
						<button type="button"  class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" id = "save2" class="btn btn-primary" data-dismiss="modal">Update</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="panel-body">
			<div class="table-responsive">
				<table id="strOrg" class="table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th class="text-center">No.</th>
							<th class="text-center">Kode Akun</th>
							<th class="text-center">Nama Akun</th>
							<th class="text-center" width="10%">Aksi</th>
						</tr>
					</thead>
					<tbody>
						{if $data}
						{foreach $data as $k => $val}	
						<tr>
							<td class="text-center">{$k+1}</td>
							<td class="text-center">{$val.KDAKUN}</td>
							<td>{$val.NMAKUN}</td>
							<td class="text-center">	
								<!--<button class="output-edit btn btn-warning btn-icon icon-lg fa fa-pencil" value="{$val.kdgiat|cat:'_'|cat:$val.kdoutput}" href="#" ></button></a>-->	
								<button class="akun-edit btn btn-warning btn-icon icon-lg fa fa-pencil" value="{$val.KDAKUN}" href="#" ></button></a>	
								<button class="akun-delete btn btn-danger btn-icon icon-lg fa fa-times" value="{$val.KDAKUN}" href="#"></button></a>
							</td>
						</tr>
						{/foreach}
						{/if}
					</tbody>
				</table>
			</div>
			
			
		</div>
	</div>
	<!--===================================================-->
	<!-- End Row selection and deletion (multiple rows) -->
	
	
</div>
<!--===================================================-->
<!--End page content-->
{literal}
<script>
$(document).ready(function(){
	$.clearInput = function () {
        $('form').find('input[type=text], input[type=password], input[type=number], input[type=email], textarea').val('');
	};
	
	$("#help-text").hide();
	$("#help-text2").hide();
	
	$('#Add').on('click', function(){
		$("#myModal").modal('show');
		$("#message").hide();
		$.clearInput();
		
	});
	
	$('.akun-edit').on('click', function(){
		var kdakun = $(this).attr("value");
		$.post(basedomain+"referensi/ajax_edit_akun", {kdakun:kdakun}, function(data){
							$("#kdakun2").val(data.KDAKUN);
							$("#kdakunold").val(data.KDAKUN);
							$("#nmakun2").val(data.NMAKUN);
							
					   },"JSON");
		$("#myModal2").modal('show');
		$("#message2").hide();			   
		
	});
	
	$('.akun-delete').on('click', function(){
		var kdakun = $(this).attr("value");
	  bootbox.confirm("Hapus Data?", function(result) {
			if (result) {
				$.post( basedomain+"referensi/ajax_del_akun", { kdakun: kdakun});										
				$.niftyNoty({
					type: 'success',
					icon : 'fa fa-check',
					message : 'Hapus Data Berhasil.',
					container : 'floating',
					timer : 2000
				});
				setTimeout(
			   function() 
			   {
				location.reload();
				}, 2000);
			}else{
				$.niftyNoty({
					type: 'danger',
					icon : 'fa fa-minus',
					message : 'Hapus Data Gagal!',
					container : 'floating',
					timer : 2000
				});
			}


		});
		
	});
	
	$('#save').on('click', function(){
		var kdakun = $('#kdakun').val();
		var nmakun = $('#nmakun').val();
		
		if(kdakun != '' && nmakun !='' ){
						
		$.post( basedomain+"referensi/ajax_insert_akun", { kdakun: kdakun, nmakun: nmakun});										
					$.niftyNoty({
						type: 'success',
						icon : 'fa fa-check',
						message : 'Simpan Data Berhasil.',
						container : 'floating',
						timer : 2000
					});
					setTimeout(
				   function() 
				   {
					location.reload();
					}, 2000);

		}else{
			bootbox.alert("Data Cannot Empty!", function(){
							//EMPTY
			});
		}
	});
	
	$('#save2').on('click', function(){
		var kdakun = $('#kdakun2').val();
		var kdakunold = $('#kdakunold').val();
		var nmakun = $('#nmakun2').val();
		
		if(kdakun != '' && nmakun !='' ){
						
		$.post( basedomain+"referensi/ajax_update_akun", { kdakun: kdakun, nmakun: nmakun,kdakunold : kdakunold});										
					$.niftyNoty({
						type: 'success',
						icon : 'fa fa-check',
						message : 'Simpan Data Berhasil.',
						container : 'floating',
						timer : 2000
					});
					setTimeout(
				   function() 
				   {
					location.reload();
					}, 2000);

		}else{
			bootbox.alert("Data Cannot Empty!", function(){
							//EMPTY
			});
		}
	});
	
	$('#kdakun').on('keyup', function(){
		var kdakun = $('#kdakun').val();
		if(kdakun != ''){
			$.post(basedomain+"referensi/ajax_ceck_akun", {kdakun:kdakun}, function(data){
							if(data.jml > 0){
								$("#save").attr('disabled','disabled');
								$("#message").show();
								$("#help-text").show();
							}else{
								$("#message").hide();
								$("#help-text").hide();
								$("#save").removeAttr('disabled');
							}
			},"JSON");
		}else{
			//nothing
		}
	});
	
	$('#kdakun2').on('keyup', function(){
		var kdakun = $('#kdakun2').val();
		if(kdakun != ''){
			$.post(basedomain+"referensi/ajax_ceck_akun", {kdakun:kdakun}, function(data){
							if(data.jml > 0){
								$("#save2").attr('disabled','disabled');
								$("#message2").show();
								$("#help-text2").show();
							}else{
								$("#message2").hide();
								$("#help-text").hide();
								$("#save2").removeAttr('disabled');
							}
			},"JSON");
		}else{
			//nothing
		}
	});
});
</script>	
{/literal}
