<script>
{literal}
	
	$(document).on('click', '#inputvisi', function(){

		inputsasaran(1);
	})

	

	$(document).on('click', '#editvisi', function(){
		var iddata = $(this).attr('data-id');
		inputsasaran(1, iddata);
	})

	

	$(document).on('change', '.eselonid', function(){
		var id = $(this).val();
		redirect(basedomain+"renstra/sasaran/?parent_id="+id);
	})


{/literal}

</script>

<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Tugas & Fungsi BSN</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
	<li><a href="{$basedomain}">Home</a></li>
	<li>Tugas & Fungsi</li>
	<li class="active">BSN</li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->

<!--Page content-->
<!--===================================================-->
<div id="page-content">
	
	<!-- Row selection and deletion (multiple rows) -->
	<!--===================================================-->
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title">Tugas & Fungsi</h3>
		</div>
		{if $user.type==1}
		<div id="create-toolbar" class="table-toolbar-left">
			<a href="{$basedomain}struktur/editBsn"><button class="btn btn-success btn-labeled fa fa-pencil-square-o" id="inputvisi">Input Tugas Pokok</button></a>
		</div><br>
		{/if}
		{*}
		<div id="separator-toolbar" class="table-toolbar-left">&nbsp;</div>
		
		<div id="delete-toolbar" class="table-toolbar-left">
			<button id="demo-dt-delete-btn-course-list" class="btn btn-danger btn-labeled fa fa-times">Delete</button>
		</div>
		{/*}
		
		<!--{pr($data)}
		{pr($data_listgroup)}-->
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="text-center" width="20%">Kementerian</th>
							<th class="text-center" colspan="2">Tugas Pokok</th>
							{if $user.type==1}<th class="text-center" colspan="2" width="10%">Aksi</th>{/if}
						</tr>
					</thead>
					<tbody>
						{if $struktur}
						{foreach $struktur as $k => $val}	
						<tr>
							<td>{$val.title}</td>
							<td colspan="2">{$val.desc}</td>
							{if $user.type==1}
							<td colspan="2" class="text-center">
								<a href="{$basedomain}struktur/editBsn/?id={$val.id}"><button class="btn btn-warning btn-icon icon-lg fa fa-pencil"></button></a>
								<a href="{$basedomain}struktur/delete/?id={$val.id}&req=2"><button class="btn btn-danger btn-icon icon-lg fa fa-times"></button></a>
							</td>
							{/if}
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td class="text-center" colspan="2"><b>Fungsi</b></td>
							<td colspan="2" class="text-center">
								{if $user.type==1}
								<a href="{$basedomain}struktur/editBsn/?req=1&parent_id={$val.id}"><button class="btn btn-success btn-icon icon-lg fa fa-plus"></button></a>{/if}
							</td>
						</tr>
						{if $val.fungsi}
						{foreach $val.fungsi as $ka => $v}	
						<tr>
							<td class="text-center">&nbsp;</td>
							<td class="text-center">{$ka+1}</td>
							<td>{$v.desc}</td>
							<td class="text-center">	
								{if $user.type==1}<a href="{$basedomain}struktur/editBsn/?req=1&parent_id={$v.parent_id}&id={$v.id}"><button class="btn btn-warning btn-icon icon-lg fa fa-pencil"></button></a>{/if}
							</td>
							<td class="text-center">	
								{if $user.type==1}
								<a href="{$basedomain}struktur/delete/?id={$v.id}&req=2"><button class="btn btn-danger btn-icon icon-lg fa fa-times"></button></a>
								{/if}
							</td>
						</tr>
						{/foreach}
						{/if}
						{/foreach}
						{/if}
					</tbody>
				</table>
			</div>
			
			
		</div>
	</div>
	<!--===================================================-->
	<!-- End Row selection and deletion (multiple rows) -->
	
	
</div>
<!--===================================================-->
<!--End page content-->

