<script>
{literal}
	
	$(document).on('click', '#inputvisi', function(){

		inputsasaran(1);
	})

	

	$(document).on('click', '#editvisi', function(){
		var iddata = $(this).attr('data-id');
		inputsasaran(1, iddata);
	})

	

	$(document).on('change', '.eselonid', function(){
		var id = $(this).val();
		redirect(basedomain+"renstra/sasaran/?parent_id="+id);
	})


{/literal}

</script>

<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Eselon II</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
	<li class="active"><a href="{$basedomain}">Home</a></li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->

<!--Page content-->
<!--===================================================-->
<div id="page-content">
	
	<!-- Row selection and deletion (multiple rows) -->
	<!--===================================================-->
	<div class="panel">
		{*}<div class="panel-heading">
			<h3 class="panel-title">Eselon II</h3>
		</div>
		{/*}
		<div id="create-toolbar" class="table-toolbar-left">
			<a href="{$basedomain}struktur/editEselon2"><button class="btn btn-success btn-labeled fa fa-pencil-square-o" id="inputvisi">Input Tugas Pokok</button></a>
		</div><br>{*}
		<div id="separator-toolbar" class="table-toolbar-left">&nbsp;</div>
		
		<div id="delete-toolbar" class="table-toolbar-left">
			<button id="demo-dt-delete-btn-course-list" class="btn btn-danger btn-labeled fa fa-times">Delete</button>
		</div>
		{/*}
		
		<!--{pr($data)}
		{pr($data_listgroup)}-->
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="text-center">Eselon I</th>
							<th class="text-center" colspan="2">Tugas Pokok</th>
							<th class="text-center" colspan="2">Aksi</th>
						</tr>
					</thead>
					<tbody>
						{if $tugas}
						{foreach $tugas as $k => $val}	
						<tr>
							<td>{$val.nama_satker}</td>
							<td colspan="2">{$val.desc}</td>
							<td colspan="2" class="text-center">

								<a href="{$basedomain}struktur/editEselon2/?id={$val.id}"><button class="btn btn-info btn-labeled fa fa-pencil-square-o">edit</button></a>
							</td>
						</tr>
						
						<tr>
							<td>&nbsp;</td>
							<td class="text-center" colspan="2"><b>Fungsi</b></td>
							<td colspan="2" class="text-center">
								<a href="{$basedomain}struktur/editEselon2/?req=1&parent_id={$val.id}"><button class="btn btn-success btn-labeled fa fa-pencil-square-o">tambah</button></a>
							</td>
						</tr>
						{if $tugas}
						{foreach $val.fungsi as $k => $v}	
						<tr>
							<td class="text-center">&nbsp;</td>
							<td class="text-center">{$k+1}</td>
							<td >{$v.desc}</td>
							<td class="text-center">	
								<a href="{$basedomain}struktur/editEselon2/?req=1&parent_id={$v.parent_id}&id={$v.id}"><button class="btn btn-info btn-labeled fa fa-pencil-square-o">edit</button></a>
							</td>
							<td class="text-center">	
								<a href="{$basedomain}struktur/delete/?id={$v.id}&req=4"><button class="btn btn-danger btn-labeled fa fa-pencil-square-o">Delete</button></a>
							</td>
						</tr>
						{/foreach}
						{/if}
						{/foreach}
						{/if}
						
					</tbody>
				</table>
			</div>
			
			
		</div>
	</div>
	<!--===================================================-->
	<!-- End Row selection and deletion (multiple rows) -->
	
	
</div>
<!--===================================================-->
<!--End page content-->

