<script>
{literal}
	
	$(document).on('click', '#inputvisi', function(){

		inputsasaran(1);
	})

	

	$(document).on('click', '#editvisi', function(){
		var iddata = $(this).attr('data-id');
		inputsasaran(1, iddata);
	})

	

	$(document).on('change', '.eselonid', function(){
		var id = $(this).val();
		redirect(basedomain+"renstra/sasaran/?parent_id="+id);
	})


{/literal}

</script>

<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">ESELON II</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
	<li class="active"><a href="{$basedomain}">Home</a></li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->

<!--Page content-->
<!--===================================================-->
<div id="page-content">
	
	<!-- Row selection and deletion (multiple rows) -->
	<!--===================================================-->
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title">ESELON II</h3>
		</div>
		{*}
		<div id="create-toolbar" class="table-toolbar-left">
			<a href="javascript:void(0)"><button class="btn btn-success btn-labeled fa fa-pencil-square-o" id="inputvisi">Input Sasaran Strategis</button></a>
		</div>
		<div id="separator-toolbar" class="table-toolbar-left">&nbsp;</div>
		
		<div id="delete-toolbar" class="table-toolbar-left">
			<button id="demo-dt-delete-btn-course-list" class="btn btn-danger btn-labeled fa fa-times">Delete</button>
		</div>
		{/*}
		
		<!--{pr($data)}
		{pr($data_listgroup)}-->
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="text-center">Eselon II</th>
							<th class="text-center" colspan="2">Tugas Pokok</th>
							<th class="text-center" colspan="2">Aksi</th>
						</tr>
					</thead>
					<tbody>

						<tr>
							<td>Biro Hukum, Organisasi dan Humas</td>
							<td colspan="2"> 	Melaksanakan pengkajian dan penelaahan hukum, perumusan dan penyusunan peraturan perundangan, pemberian bantuan dan penyuluhan hukum, analisis dan penataan kelembagaan, pengawasan dan evaluasi manajemen mutu internal, urusan kepegawaian, hubungan masyarakat dan hubungan antar lembaga serta penyusunan lapora</td>
							<td colspan="2" class="text-center">
								<a href="http://localhost/sipp.bsn/admin/home/sampleform"><button class="btn btn-info btn-labeled fa fa-pencil-square-o">edit</button></a>
							</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td class="text-center" colspan="2"><b>Fungsi</b></td>
							<td colspan="2" class="text-center">
								<a href="http://localhost/sipp.bsn/admin/home/sampleform"><button class="btn btn-success btn-labeled fa fa-pencil-square-o">tambah</button></a>
							</td>
						</tr>
						<tr>
							<td class="text-center">&nbsp;</td>
							<td class="text-center">1</td>
							<td > 	Penyelenggaraan kegiatan kerja sama dalam negeri dan internasional di bidang standardisasi</td>
							<td class="text-center">	
								<a href="http://localhost/sipp.bsn/admin/home/sampleform"><button class="btn btn-info btn-labeled fa fa-pencil-square-o">edit</button></a>
							</td>
							<td class="text-center">	
								<a href="http://localhost/sipp.bsn/admin/home/sampleform"><button class="btn btn-danger btn-labeled fa fa-pencil-square-o">Delete</button></a>
							</td>
						</tr>
						<tr>
							<td class="text-center">&nbsp;</td>
							<td class="text-center">1</td>
							<td > 	Penyelenggaraan kegiatan kerja sama dalam negeri dan internasional di bidang standardisasi</td>
							<td class="text-center">	
								<a href="http://localhost/sipp.bsn/admin/home/sampleform"><button class="btn btn-info btn-labeled fa fa-pencil-square-o">edit</button></a>
							</td>
							<td class="text-center">	
								<a href="http://localhost/sipp.bsn/admin/home/sampleform"><button class="btn btn-danger btn-labeled fa fa-pencil-square-o">Delete</button></a>
							</td>
						</tr>
						<tr>
							<td class="text-center">&nbsp;</td>
							<td class="text-center">1</td>
							<td > 	Penyelenggaraan kegiatan kerja sama dalam negeri dan internasional di bidang standardisasi</td>
							<td class="text-center">	
								<a href="http://localhost/sipp.bsn/admin/home/sampleform"><button class="btn btn-info btn-labeled fa fa-pencil-square-o">edit</button></a>
							</td>
							<td class="text-center">	
								<a href="http://localhost/sipp.bsn/admin/home/sampleform"><button class="btn btn-danger btn-labeled fa fa-pencil-square-o">Delete</button></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			
		</div>
	</div>
	<!--===================================================-->
	<!-- End Row selection and deletion (multiple rows) -->
	
	
</div>
<!--===================================================-->
<!--End page content-->

