<script>
{literal}
	$(window).on('load', function() {

		// Datatables
		// Row selection and deletion (multiple rows)
		// -----------------------------------------------------------------
		var rowDeletion = $('#strOrg').DataTable({
			"responsive": true,
			"language": {
				"paginate": {
				  "previous": '<i class="fa fa-angle-left"></i>',
				  "next": '<i class="fa fa-angle-right"></i>'
				}
			},
			"dom": '<"toolbar">frtip'
		});

		$('#create-toolbar').appendTo($("div.toolbar"));

	})
	
	$(document).on('click', '#inputvisi', function(){

		inputsasaran(1);
	})

	

	$(document).on('click', '#editvisi', function(){
		var iddata = $(this).attr('data-id');
		inputsasaran(1, iddata);
	})

	

	$(document).on('change', '.eselonid', function(){
		var id = $(this).val();
		redirect(basedomain+"renstra/sasaran/?parent_id="+id);
	})


{/literal}

</script>

<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Struktur Organisasi</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
	<li><a href="{$basedomain}">Home</a></li>
	<li class="active">Struktur Organisasi</li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->

<!--Page content-->
<!--===================================================-->
<div id="page-content">
	
	<!-- Row selection and deletion (multiple rows) -->
	<!--===================================================-->


	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title">Struktur Organisasi</h3>
		</div>
		{if $user.type == 1}
		<div id="create-toolbar" class="table-toolbar-left">
			<a href="{$basedomain}struktur/editStruktur">
				<button id="demo-btn-addrow" class="btn btn-success btn-labeled fa fa-plus">Tambah</button>
			</a>
		</div>
		{/if}
		<div class="panel-body">
			<div class="table-responsive">
				<table id="strOrg" class="table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th class="text-center">No.</th>
							<th class="text-center">Kode</th>
							<th class="text-center">Nama Unit Kerja</th>
							<th class="text-center">Singkatan</th>
							{if $user.type == 1}<th class="text-center" width="10%">Aksi</th>{/if}
						</tr>
					</thead>
					<tbody>
						{if $struktur}
						{foreach $struktur as $k => $val}	

						<tr>
							<td class="text-center">{$k+1}</td>
							<td class="text-center">{$val.kode}</td>
							<td >{$val.nama_satker}</td>
							<td>{$val.singkatan}</td>
							{if $user.type == 1}
							<td class="text-center">	
								<a href="{$basedomain}struktur/editStruktur/?id={$val.id}"><button class="btn btn-warning btn-icon icon-lg fa fa-pencil"></button></a>	
								<a href="{$basedomain}struktur/delete/?id={$val.id}&param=1&req=1"><button class="btn btn-danger btn-icon icon-lg fa fa-times"></button></a>
							</td>
							{/if}
						</tr>
						{/foreach}
						{/if}
					</tbody>
				</table>
			</div>
			
			
		</div>
	</div>
	<!--===================================================-->
	<!-- End Row selection and deletion (multiple rows) -->
	
	
</div>
<!--===================================================-->
<!--End page content-->

