<!--Page Title--> 
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Pencapaian Target BSN Tingkat BSN</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
	<li class="active"><a href="{$basedomain}">Home</a></li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->

<!--Page content-->
<!--===================================================-->
<div id="page-content">
	
	<!-- Row selection and deletion (multiple rows) -->
	<!--===================================================-->
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title">Pencapaian Target Tingkat BSN </h3>
		</div>
		
		<div class="panel-body">
		<div class="table-responsive" style="overflow:scroll;max-height:550px">
			<table id="newslist" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th rowspan="3" class="text-center" style="vertical-align: middle">No</th>
						<th rowspan="3" class="text-center" style="vertical-align: middle">Indikator Kinerja</th>
						<th rowspan="3" class="min-tablet text-center" style="vertical-align: middle">Formula Indikator Kinerja</th>
						<th rowspan="3" class="min-tablet text-center" style="vertical-align: middle">Target</th>
						<th colspan="16" class="min-desktop text-center" style="vertical-align: middle">Rencana Aksi Pencapaian Target</th>
						<th class="text-center" rowspan="3">Permasalahan / Kinerja</th>
						<th class="text-center" rowspan="3">Perbaikan / Tindak Lanjut</th>
						<th rowspan="3" class="text-center" style="vertical-align: middle">Aksi</th>
					</tr>
					<tr>
						<th colspan="4" class="text-center" style="vertical-align: middle">Triwulan I</th>
						<th colspan="4" class="text-center" style="vertical-align: middle">Triwulan II</th>
						<th colspan="4" class="text-center" style="vertical-align: middle">Triwulan III</th>
						<th colspan="4" class="text-center" style="vertical-align: middle">Triwulan IV</th>
					</tr>
					<tr>
						<th class="text-center" style="vertical-align: middle">Target</th>
						<th class="text-center" style="vertical-align: middle">%</th>
						<th class="text-center" style="vertical-align: middle">Realisasi</th>
						<th class="text-center" style="vertical-align: middle">%</th>
						<th class="text-center" style="vertical-align: middle">Target</th>
						<th class="text-center" style="vertical-align: middle">%</th>
						<th class="text-center" style="vertical-align: middle">Realisasi</th>
						<th class="text-center" style="vertical-align: middle">%</th>
						<th class="text-center" style="vertical-align: middle">Target</th>
						<th class="text-center" style="vertical-align: middle">%</th>
						<th class="text-center" style="vertical-align: middle">Realisasi</th>
						<th class="text-center" style="vertical-align: middle">%</th>
						<th class="text-center" style="vertical-align: middle">Target</th>
						<th class="text-center" style="vertical-align: middle">%</th>
						<th class="text-center" style="vertical-align: middle">Realisasi</th>
						<th class="text-center" style="vertical-align: middle">%</th>
					</tr>
				</thead>
				<tbody>
					{if !empty($data)}
					{foreach $data as $key => $val}
						<tr>
							<td>{$key+1}</td>
							<td>{$val.nm_pk}</td>
							<td>{$val.formula}</td>
							<td>{$val.target}</td>
							<td>
								Output:<br>{$val.rencana_1} {$val.ren_hasil_1}<br>
								Proses/Tahapan:<br>{$val.aksi_1}
							</td>
							<td>{number_format(($val.rencana_1/$val.target)*100,2)}</td>
							<td>
								Output:<br>{$val.capaian_1} {$val.hasil_1}<br>
								Proses/Tahapan:<br>{$val.real_1}
							</td>
							<td>{number_format(($val.capaian_1/$val.target)*100,2)}</td>
							<td>
								Output:<br>{$val.rencana_2} {$val.ren_hasil_2}<br>
								Proses/Tahapan:<br>{$val.aksi_2}
							</td>
							<td>{number_format(($val.rencana_2/$val.target)*100,2)}</td>
							<td>
								Output:<br>{$val.capaian_2} {$val.hasil_2}<br>
								Proses/Tahapan:<br>{$val.real_2}
							</td>
							<td>{number_format(($val.capaian_2/$val.target)*100,2)}</td>
							<td>
								Output:<br>{$val.rencana_3} {$val.ren_hasil_3}<br>
								Proses/Tahapan:<br>{$val.aksi_3}
							</td>
							<td>{number_format(($val.rencana_3/$val.target)*100,2)}</td>
							<td>
								Output:<br>{$val.capaian_3} {$val.hasil_3}<br>
								Proses/Tahapan:<br>{$val.real_3}
							</td>
							<td>{number_format(($val.capaian_3/$val.target)*100,2)}</td>
							<td>
								Output:<br>{$val.rencana_4} {$val.ren_hasil_4}<br>
								Proses/Tahapan:<br>{$val.aksi_4}
							</td>
							<td>{number_format(($val.rencana_4/$val.target)*100,2)}</td>
							<td>
								Output:<br>{$val.capaian_4} {$val.hasil_4}<br>
								Proses/Tahapan:<br>{$val.real_4}
							</td>
							<td>{number_format(($val.capaian_4/$val.target)*100,2)}</td>
							<td>{$val.permasalahan}</td>
							<td>{$val.perbaikan}</td>
							<td>
							{if $val.linkEdit}
							
								<a href="{$basedomain}capaian/edit/?id={$val.id}"><button class="btn btn-warning btn-md fa fa-pencil"></button></a>
							{else}
								&nbsp;
							{/if}
							</td>
						</tr>
					{/foreach}
					{else}
					<tr><td colspan="13">Tidak Ada Data</td></tr>
					{/if}
				</tbody>
			</table>
			</div>
		</div>
	</div>
	<!--===================================================-->
	<!-- End Row selection and deletion (multiple rows) -->
	
	
</div>
<!--===================================================-->
<!--End page content-->

