<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Edit Data</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
	<li class="active"><a href="{$basedomain}">Home</a></li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->

<!--Page content-->
<!--===================================================-->
<div id="page-content">
	
	<!-- Row selection and deletion (multiple rows) -->
	<!--===================================================-->
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title">Form Pencapaian Target Tingkat Eselon II</h3>
		</div>
		<form class="form-horizontal form-padding" method="post" action="{$basedomain}capaian/edt_capaian_es1">
		<div class="panel-body">
			<div class="row">
				<div class="col-lg-10">
					<div class="form-group">
						<label class="col-md-3 control-label" for="demo-text-input">No. Urut</label>
						<div class="col-md-2">
							<input type="text" name="no_pk" readonly class="form-control" value="{$data.no_pk}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label" for="demo-text-input">Sasaran Strategis</label>
						<div class="col-md-9">
							<input type="text" name="nm_pk" readonly class="form-control" value="{$data.nm_pk}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label" for="demo-text-input">Target</label>
						<div class="col-md-2">
							<input type="text" name="target" readonly class="form-control" id="target"  value="{$data.target}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label" for="demo-textarea-input">Formula</label>
						<div class="col-md-9" id="contentEdit">
							<textarea id="formula" name="formula" readonly rows="4" class="form-control">{$data.formula}</textarea>
						</div>
					</div>

					
					<div class="panel">
					
						<!--Panel heading-->
						<div class="panel-heading">
							<div class="panel-control">
								<ul class="nav nav-tabs">
									<li class="active"><a href="#triwulan1" data-toggle="tab">Triwulan I</a></li>
									<li><a href="#triwulan2" data-toggle="tab">Triwulan II</a></li>
									<li><a href="#triwulan3" data-toggle="tab">Triwulan III</a></li>
									<li><a href="#triwulan4" data-toggle="tab">Triwulan IV</a></li>
								</ul>
							</div>
							<h3 class="panel-title">Pencapaian Target</h3>
						</div>
			
						<!--Panel body-->
						<div class="panel-body">
							<div class="tab-content">
								<div class="tab-pane fade in active" id="triwulan1">
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Target</label>
										<div class="col-md-2">
											<input type="text" name="rencana_1" readonly class="form-control" value="{$data.rencana_1}">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Percentase</label>
										<div class="col-md-2">
											<input type="text" readonly class="form-control" value="{number_format(($data.rencana_1/$data.target)*100,2)} %">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Output</label>
										<div class="col-md-2">
											<input type="text" name="ren_hasil_1" readonly  class="form-control" value="{$data.ren_hasil_1}">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-textarea-input">Formula</label>
										<div class="col-md-9" id="contentEdit-1">
											<textarea id="formula-1" readonly name="aksi_1" rows="4" class="form-control">{$data.aksi_1}s</textarea>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Realisasi</label>
										<div class="col-md-2">
											<input type="text" name="capaian_1" id="real-1" class="form-control numeric" value="{$data.capaian_1}">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Percentase</label>
										<div class="col-md-2">
											<input type="text" readonly class="form-control" id="percent-1" value="{number_format(($data.capaian_1/$data.target)*100,2)} %">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Output</label>
										<div class="col-md-2">
											<input type="text" name="hasil_1" class="form-control" value="{$data.hasil_1}">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-textarea-input">Proses/tahapan</label>
										<div class="col-md-9">
											<textarea  id="proses-1"  name="real_1" rows="4" class="form-control">{$data.real_1}</textarea>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="triwulan2">
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Target</label>
										<div class="col-md-2">
											<input type="text" name="rencana_2" readonly  class="form-control" value="{$data.rencana_2}">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Percentase</label>
										<div class="col-md-2">
											<input type="text" readonly class="form-control" value="{number_format(($data.rencana_2/$data.target)*100,2)} %">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Output</label>
										<div class="col-md-2">
											<input type="text" name="ren_hasil_2" readonly  class="form-control" value="{$data.ren_hasil_2}">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-textarea-input">Formula</label>
										<div class="col-md-9" id="contentEdit-2">
											<textarea  id="formula-2"  readonly  name="aksi_2" rows="4" class="form-control">{$data.aksi_2}</textarea>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Realisasi</label>
										<div class="col-md-2">
											<input type="text" name="capaian_2" id="real-2" class="form-control numeric" value="{$data.capaian_2}">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Percentase</label>
										<div class="col-md-2">
											<input type="text" readonly class="form-control" id="percent-2" value="{number_format(($data.capaian_2/$data.target)*100,2)} %">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Output</label>
										<div class="col-md-2">
											<input type="text" name="hasil_2" class="form-control" value="{$data.hasil_2}">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-textarea-input">Proses/tahapan</label>
										<div class="col-md-9">
											<textarea id="proses-2" name="real_2" rows="4" class="form-control">{$data.real_2}</textarea>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="triwulan3">
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Target</label>
										<div class="col-md-2">
											<input type="text" name="rencana_3" readonly  class="form-control" value="{$data.rencana_3}">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Percentase</label>
										<div class="col-md-2">
											<input type="text" readonly class="form-control" value="{number_format(($data.rencana_3/$data.target)*100,2)} %">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Output</label>
										<div class="col-md-2">
											<input type="text" name="ren_hasil_3" readonly  class="form-control" value="{$data.ren_hasil_3}">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-textarea-input">Formula</label>
										<div class="col-md-9" id="contentEdit-3">
											<textarea  id="formula-3"  readonly  name="aksi_3" rows="4" class="form-control">{$data.aksi_3}</textarea>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Realisasi</label>
										<div class="col-md-2">
											<input type="text" name="capaian_3" id="real-3" class="form-control numeric" value="{$data.capaian_3}">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Percentase</label>
										<div class="col-md-2">
											<input type="text" readonly class="form-control" id="percent-3" value="{number_format(($data.capaian_3/$data.target)*100,2)} %">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Output</label>
										<div class="col-md-2">
											<input type="text" name="hasil_3" class="form-control" value="{$data.hasil_3}">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-textarea-input">Proses/tahapan</label>
										<div class="col-md-9">
											<textarea id="proses-3" name="real_3" rows="4" class="form-control">{$data.real_3}</textarea>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="triwulan4">
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Target</label>
										<div class="col-md-2">
											<input type="text" name="rencana_4" readonly  class="form-control" value="{$data.rencana_4}">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Percentase</label>
										<div class="col-md-2">
											<input type="text" readonly class="form-control" value="{number_format(($data.rencana_4/$data.target)*100,2)} %">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Output</label>
										<div class="col-md-2">
											<input type="text" name="ren_hasil_4" readonly  class="form-control" value="{$data.ren_hasil_4}">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-textarea-input">Formula</label>
										<div class="col-md-9"  id="contentEdit-4">
											<textarea id="formula-4" readonly  name="aksi_4" rows="4" class="form-control">{$data.aksi_4}</textarea>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Realisasi</label>
										<div class="col-md-2">
											<input type="text" name="capaian_4" id="real-4" class="form-control numeric" value="{$data.capaian_4}">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Percentase</label>
										<div class="col-md-2">
											<input type="text" readonly class="form-control" id="percent-4" value="{number_format(($data.capaian_4/$data.target)*100,2)} %">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Output</label>
										<div class="col-md-2">
											<input type="text" name="hasil_4" class="form-control" value="{$data.hasil_4}">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-textarea-input">Proses/tahapan</label>
										<div class="col-md-9">
											<textarea id="proses-4" name="real_4" rows="4" class="form-control">{$data.real_4}</textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Permasalahan / Kinerja</label>
							<div class="col-sm-9">
								<textarea id="permasalahan" name="permasalahan" rows="4" class="form-control">{$data.permasalahan}</textarea>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label">Perbaikan /Tindak lanjut</label>
							<div class="col-sm-9">
								<textarea id="perbaikan" name="perbaikan" rows="4" class="form-control">{$data.perbaikan}</textarea>
							</div>
						</div>

						
						<!-- HIDDEN -->
						<input type="hidden" name="id" value="{$id}">
						<input type="hidden" name="kd" value="{$kode}">
				</div>
			</div>
		</div>
		<div class="panel-footer text-left">
			<button class="btn btn-info" type="submit" id="submit">Submit</button>
		</div>
		</form>
	</div>
	<!--===================================================-->
	<!-- End Row selection and deletion (multiple rows) -->
	
	
</div>
<!--===================================================-->
<!--End page content-->
{literal}
<script> 
$(document).ready(function() {
	$('#formula,#formula-1,#formula-2,#formula-3,#formula-4,#proses-1,#proses-2,#proses-3,#proses-4,#permasalahan,#perbaikan').summernote({
		toolbar: [
    // [groupName, [list of button]]
					['style', ['bold', 'italic', 'underline', 'clear']],
					['font', ['strikethrough', 'superscript', 'subscript']],
					['fontsize', ['fontsize']],
					['color', ['color']],
					['para', ['ul', 'ol', 'paragraph']],
					['height', ['height']]
				  ],
		height: 200
	});
	$('#contentEdit .note-editable').attr('contenteditable',false);
	$('#contentEdit-1 .note-editable').attr('contenteditable',false);
	$('#contentEdit-2 .note-editable').attr('contenteditable',false);
	$('#contentEdit-3 .note-editable').attr('contenteditable',false);
	$('#contentEdit-4 .note-editable').attr('contenteditable',false);
	
	$(document).ready(function(){
			$('.numeric').keypress(isNumber);
		});
	
	$( "#real-1" ).keyup(function() {
	  var target = $('#target').val();
	  var real = $('#real-1').val();

	  var percent = parseFloat((real/target)*100).toFixed(2);

	  $('#percent-1').val(percent+' %');
	  
	  if( parseInt(real) > parseInt(target)){
			alert("Target Melebihi");
			//console.log('target melebihi');
			$("#submit").attr('disabled','disabled');
		}else{
			//console.log('target tidak melebihi');
			$("#submit").removeAttr('disabled');
		
		}
	});
	$( "#real-2" ).keyup(function() {
	  var target = $('#target').val();
	  var real = $('#real-2').val();

	  var percent = parseFloat((real/target)*100).toFixed(2);

	  $('#percent-2').val(percent+' %');
	  
	  if( parseInt(real) > parseInt(target)){
			alert("Target Melebihi");
			//console.log('target melebihi');
			$("#submit").attr('disabled','disabled');
		}else{
			//console.log('target tidak melebihi');
			$("#submit").removeAttr('disabled');
		
		}
	});
	$( "#real-3" ).keyup(function() {
	  var target = $('#target').val();
	  var real = $('#real-3').val();

	  var percent = parseFloat((real/target)*100).toFixed(2);

	  $('#percent-3').val(percent+' %');
	  
	  if( parseInt(real) > parseInt(target)){
			alert("Target Melebihi");
			//console.log('target melebihi');
			$("#submit").attr('disabled','disabled');
		}else{
			//console.log('target tidak melebihi');
			$("#submit").removeAttr('disabled');
		
		}
	});
	$( "#real-4" ).keyup(function() {
	  var target = $('#target').val();
	  var real = $('#real-4').val();

	  var percent = parseFloat((real/target)*100).toFixed(2);

	  $('#percent-4').val(percent+' %');
	  
	  if( parseInt(real) > parseInt(target)){
			alert("Target Melebihi");
			//console.log('target melebihi');
			$("#submit").attr('disabled','disabled');
		}else{
			//console.log('target tidak melebihi');
			$("#submit").removeAttr('disabled');
		
		}
	});
})
function isNumber(evt) {
	evt = (evt) ? evt : window.event;
   var charCode = (evt.which) ? evt.which : evt.keyCode;
		if (charCode > 31 && (charCode < 48 || charCode > 57)) {
			return false;
		}
		return true;
	}
</script>
{/literal}

