<!--Page Title--> 
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Pencapaian Target Tingkat Eselon I</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
	<li class="active"><a href="{$basedomain}">Home</a></li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->

<!--Page content-->
<!--===================================================-->
<div id="page-content">
	
	<!-- Row selection and deletion (multiple rows) -->
	<!--===================================================-->
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title">{$label} </h3>
		</div>
		
		<div class="panel-body">
			<div class="pad-btm form-inline">
				<div class="row">
					<div class="col-sm-6 table-toolbar-left">
						
					</div>
					<div class="col-sm-6 table-toolbar-right">
						<form method="post" action="{$basedomain}capaian/eselon1">
							<select class="selectpicker" id="struktur" name="struktur">
								{foreach $struktur as $val}
								<option value="{$val.id}_{$val.nama_satker}_{$val.kode}" {if $val.id eq $id}selected{/if}>{$val.nama_satker}</option>
								{/foreach}
							</select>
							<button type="submit" class="btn btn-primary"> Cari</button>
						</form>
					</div>
				</div>
			</div>
		<div class="table-responsive" style="overflow:scroll;max-height:550px">
			<table id="newslist" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th rowspan="3" class="text-center" style="vertical-align: middle">No</th>
						<th rowspan="3" class="text-center" style="vertical-align: middle">Indikator Kinerja</th>
						<th rowspan="3" class="min-tablet text-center" style="vertical-align: middle">Formula Indikator Kinerja</th>
						<th rowspan="3" class="min-tablet text-center" style="vertical-align: middle">Target</th>
						<th colspan="16" class="min-desktop text-center" style="vertical-align: middle">Rencana Aksi Pencapaian Target</th>
						<th class="text-center" rowspan="3">Permasalahan / Kinerja</th>
						<th class="text-center" rowspan="3">Perbaikan / Tindak Lanjut</th>
						<th rowspan="3" class="text-center" style="vertical-align: middle">Aksi</th>
					</tr>
					<tr>
						<th colspan="4" class="text-center" style="vertical-align: middle">Triwulan I</th>
						<th colspan="4" class="text-center" style="vertical-align: middle">Triwulan II</th>
						<th colspan="4" class="text-center" style="vertical-align: middle">Triwulan III</th>
						<th colspan="4" class="text-center" style="vertical-align: middle">Triwulan IV</th>
					</tr>
					<tr>
						<th class="text-center" style="vertical-align: middle">Target</th>
						<th class="text-center" style="vertical-align: middle">%</th>
						<th class="text-center" style="vertical-align: middle">Realisasi</th>
						<th class="text-center" style="vertical-align: middle">%</th>
						<th class="text-center" style="vertical-align: middle">Target</th>
						<th class="text-center" style="vertical-align: middle">%</th>
						<th class="text-center" style="vertical-align: middle">Realisasi</th>
						<th class="text-center" style="vertical-align: middle">%</th>
						<th class="text-center" style="vertical-align: middle">Target</th>
						<th class="text-center" style="vertical-align: middle">%</th>
						<th class="text-center" style="vertical-align: middle">Realisasi</th>
						<th class="text-center" style="vertical-align: middle">%</th>
						<th class="text-center" style="vertical-align: middle">Target</th>
						<th class="text-center" style="vertical-align: middle">%</th>
						<th class="text-center" style="vertical-align: middle">Realisasi</th>
						<th class="text-center" style="vertical-align: middle">%</th>
					</tr>
				</thead>
				<tbody>
					{if !empty($data)}
					{foreach $data as $key => $val}
						<tr>
							<td>{$key+1}</td>
							<td>{if $val.nm_pk}{limit_words($val.nm_pk,100)}[...]{else}{/if}</td>
							<td>{if $val.formula}{limit_words($val.formula,10)}[...]{else}{/if}</td>
							<td>{$val.target}</td>
							<td>
								<strong>Output:</strong><br>{$val.rencana_1} 
								{if $val.ren_hasil_1}{limit_words($val.ren_hasil_1,10)}[...]{else}{/if}
								<br>
								<strong>Proses/Tahapan:</strong><br>
								{limit_words($val.aksi_1,10)}[...]
							</td>
							<td>{number_format(($val.rencana_1/$val.target)*100,2)}</td>
							<td>
								<strong>Output:</strong><br>{$val.capaian_1} 
								{if $val.hasil_1}{limit_words($val.hasil_1,10)}[...]{else}{/if}
								<br>
								<strong>Proses/Tahapan:</strong><br>
								{limit_words($val.real_1,10)}[...]
							</td>
							<td>{number_format(($val.capaian_1/$val.target)*100,2)}</td>
							<td>
								<strong>Output:</strong><br>{$val.rencana_2} 
								{if $val.ren_hasil_2}{limit_words($val.ren_hasil_2,10)}[...]{else}{/if}
								<br>
								<strong>Proses/Tahapan:</strong><br>
								{limit_words($val.aksi_2,10)}[...]
							</td>
							<td>{number_format(($val.rencana_2/$val.target)*100,2)}</td>
							<td>
								<strong>Output:</strong><br>{$val.capaian_2} {if $val.hasil_2}{limit_words($val.hasil_2,10)}[...]{else}{/if}
								<br>
								<strong>Proses/Tahapan:</strong><br>
								{limit_words($val.real_2,10)}[...]
							</td>
							<td>{number_format(($val.capaian_2/$val.target)*100,2)}</td>
							<td>
								<strong>Output:</strong><br>{$val.rencana_3}
								{if $val.ren_hasil_3}{limit_words($val.ren_hasil_3,10)}[...]{else}{/if} 
								<br>
								<strong>Proses/Tahapan:</strong><br>
								{limit_words($val.aksi_3,10)}[...]
							</td>
							<td>{number_format(($val.rencana_3/$val.target)*100,2)}</td>
							<td>
								<strong>Output:</strong><br>{$val.capaian_3} 
								{limit_words($val.hasil_3,10)}[...]
								{if $val.hasil_3}{limit_words($val.hasil_3,10)}[...]{else}{/if}
								<br>
								<strong>Proses/Tahapan:</strong><br>
								{limit_words($val.real_3,10)}[...]
							</td>
							<td>{number_format(($val.capaian_3/$val.target)*100,2)}</td>
							<td>
								<strong>Output:</strong><br>{$val.rencana_4} 
								{if $val.ren_hasil_4}{limit_words($val.ren_hasil_4,10)}[...]{else}{/if}
								<br>
								<strong>Proses/Tahapan:</strong><br>
								{limit_words($val.aksi_4,10)}[...]
							</td>
							<td>{number_format(($val.rencana_4/$val.target)*100,2)}</td>
							<td>
								<strong>Output:</strong><br>{$val.capaian_4} 
								{if $val.hasil_4}{limit_words($val.hasil_4,10)}[...]{else}{/if}
								<br>
								<strong>Proses/Tahapan:</strong><br>
								{limit_words($val.real_4,10)}[...]
							</td>
							<td>{number_format(($val.capaian_4/$val.target)*100,2)}</td>
							<td>{$val.permasalahan}</td>
							<td>{$val.perbaikan}</td>
							<td>
							{if $val.linkEdit}
								<a href="{$basedomain}capaian/edit_eselon1/?id={$val.id}&kd={$val.kdunitkerja}"><button class="btn btn-warning btn-md fa fa-pencil"></button></a>&nbsp;&nbsp;
							{else}
								&nbsp;
							{/if}
							{if $val.prv}
							<a href="{$basedomain}capaian/del_capaian_es1/?id={$val.id}" onclick="return confirm('Perjanjian Kinerja yang terkait akan di hapus. Yakin Hapus?')">
										<button class="btn btn-md btn-danger fa fa-times"></button>
									</a>
							{/if}
							</td>
						</tr>
					{/foreach}
					{else}
					<tr><td colspan="13">Tidak Ada Data</td></tr>
					{/if}
				</tbody>
			</table>
			</div>
		</div>
	</div>
	<!--===================================================-->
	<!-- End Row selection and deletion (multiple rows) -->
	
	
</div>
<!--===================================================-->
<!--End page content-->

