<script>
{literal}
	
	$(document).on('click', '#inputvisi', function(){

		inputvisimisi(1, false, 'visi');
	})

	$(document).on('click', '#inputmisi', function(){

		inputvisimisi(2, false, 'misi');
	})

	$(document).on('click', '#inputtujuan', function(){

		inputvisimisi(3, false, 'tujuan');
	})

	$(document).on('click', '#editvisi', function(){
		var iddata = $(this).attr('data-id');
		inputvisimisi(1, iddata, 'visi');
	})

	$(document).on('click', '#editmisi', function(){
		var iddata = $(this).attr('data-id');
		inputvisimisi(2, iddata, 'misi');
	})

	$(document).on('click', '#edittujuan', function(){
		var iddata = $(this).attr('data-id');
		inputvisimisi(3, iddata, 'tujuan');
	})

	$(document).on('change', '.eselonid', function(){
		var id = $(this).val();
		redirect(basedomain+"renstra/visi_eselon/?parent_id="+id);
	})


{/literal}

</script>

<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Visi Misi</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
	<li class="active"><a href="{$basedomain}">Home</a></li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->

<!--Page content-->
<!--===================================================-->
<div id="page-content">
	
	<!-- Row selection and deletion (multiple rows) -->
	<!--===================================================-->
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title">Visi Misi Eselon</h3>
		</div>
		
		<div id="create-toolbar" class="table-toolbar-left">
			<a href="javascript:void(0)"><button class="btn btn-success btn-labeled fa fa-pencil-square-o" id="inputvisi">Input Visi</button></a>
		</div>
		<div id="separator-toolbar" class="table-toolbar-left">&nbsp;</div>
		{*}
		<div id="delete-toolbar" class="table-toolbar-left">
			<button id="demo-dt-delete-btn-course-list" class="btn btn-danger btn-labeled fa fa-times">Delete</button>
		</div>
		{/*}
		<div class="col-md-12 table-toolbar-right">
			<div class="form-group">
              <!-- <label for="text-input">Eselon 1</label> -->
                  <select class="form-control eselonid" name="parent_id">
                    {if $struktur}
                    {foreach $struktur as $val}
                    <option value="{$val.id}" {if $val.id==$parent_id}selected{/if}>{$val.singkatan}</option>
                    {/foreach}
                    {/if}
                  </select>
          	</div>
		</div>
		<!--{pr($data)}
		{pr($data_listgroup)}-->
		<div class="panel-body">
			<table id="newslist" class="table table-striped table-bordered" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th class="text-center">Lembaga</th>
						<th class="text-center">Visi</th>
						<th class="text-center">Aksi</th>
					</tr>
				</thead>
				<tbody>
					{if $visi}
					{foreach $visi as $val}
					<tr>
						<td>{$val.title}</td>
						<td>{$val.desc}</td>
						<td><a href="javascript:void(0)"><button class="btn btn-warning btn-icon icon-lg fa fa-pencil" id="editvisi" data-id="{$val.id}"></button></a>
						<a href="{$basedomain}renstra/delete/?id={$val.id}&req=2"><button class="btn btn-danger btn-icon icon-lg fa fa-times"></button></a></td>
					</tr>
					{/foreach}
					{else}
					<tr>
						<td>&nbsp;</td>
						<td>Tidak ada data</td>
						<td>&nbsp;</td>
					</tr>
					{/if}
					
				</tbody>
			</table>
			
			<table id="newslist" class="table table-striped table-bordered" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th class="text-center">&nbsp;</th>
						<th class="text-center">Misi</th>
						<th class="text-center">{if $visi}<a href="javascript:void(0)"><button class="btn btn-success btn-labeled fa fa-pencil-square-o" id="inputmisi">Tambah Misi</button></a>{/if}</th>
					</tr>
				</thead>
				<tbody>
					{if $misi}
					{foreach $misi as $k => $val}
					<tr>
						<td>{$k+1}</td>
						<td>{$val.desc}</td>
						<td>
							<a href="javascript:void(0)"><button class="btn btn-warning btn-icon icon-lg fa fa-pencil" id="editmisi" data-id="{$val.id}"></button></a>
							<a href="{$basedomain}renstra/delete/?id={$val.id}&req=2"><button class="btn btn-danger btn-icon icon-lg fa fa-times"></button></a>
						</td>
					</tr>
					{/foreach}
					{else}
					<tr>
						<td>&nbsp;</td>
						<td>Tidak ada data</td>
						<td>&nbsp;</td>
					</tr>
					{/if}
					
				</tbody>
			</table>

			<table id="newslist" class="table table-striped table-bordered" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th class="text-center">&nbsp;</th>
						<th class="text-center">Tujuan</th>
						<th class="text-center">{if $visi}<a href="javascript:void(0)"><button class="btn btn-success btn-labeled fa fa-pencil-square-o" id="inputtujuan">Tambah Tujuan</button></a>{/if}</th>
					</tr>
				</thead>
				<tbody>
					{if $tujuan}
					{foreach $tujuan as $k => $val}
					<tr>
						<td>{$k+1}</td>
						<td>{$val.desc}</td>
						<td>
							<a href="javascript:void(0)"><button class="btn btn-warning btn-icon icon-lg fa fa-pencil" id="edittujuan" data-id="{$val.id}"></button></a>
							<a href="{$basedomain}renstra/delete/?id={$val.id}&req=2"><button class="btn btn-danger btn-icon icon-lg fa fa-times"></button></a>
						</td>
					</tr>
					{/foreach}
					{else}
					<tr>
						<td>&nbsp;</td>
						<td>Tidak ada data</td>
						<td>&nbsp;</td>
					</tr>
					{/if}
					
				</tbody>
			</table>
		</div>
	</div>
	<!--===================================================-->
	<!-- End Row selection and deletion (multiple rows) -->
	
	
</div>
<!--===================================================-->
<!--End page content-->

