<script>
$(window).on('load', function() {

	// Datatables
	// Row selection and deletion (multiple rows)
	// -----------------------------------------------------------------
	var rowDeletion = $('#newslist').DataTable({
		"responsive": true,
		"language": {
			"paginate": {
			  "previous": '<i class="fa fa-angle-left"></i>',
			  "next": '<i class="fa fa-angle-right"></i>'
			}
		},
		"dom": '<"toolbar">frtip'
	});

	$('#create-toolbar').appendTo($("div.toolbar"));
	$('#separator-toolbar').appendTo($("div.toolbar"));
	$('#delete-toolbar').appendTo($("div.toolbar"));

})

</script>

<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Realisasi Keuangan</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
	<li class="active"><a href="{$basedomain}">Realisasi Keuangan</a></li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->

<!--Page content-->
<!--===================================================-->
<div id="page-content">
	
	<!-- Row selection and deletion (multiple rows) -->
	<!--===================================================-->
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title">Detail Kegiatan</h3>
		</div>
		<div id="create-toolbar" class="table-toolbar-left">
			<a href="{$basedomain}pelaporanKeuangan/"><button class="btn btn-info btn-labeled">Kembali Ke Halaman Sebelumnya</button></a>
		</div>
		<div id="separator-toolbar" class="table-toolbar-left">&nbsp;</div>
		<!-- <div id="delete-toolbar" class="table-toolbar-left">
			<button id="demo-dt-delete-btn-course-list" class="btn btn-danger btn-labeled fa fa-times">Delete</button>
		</div> -->
		<!--{pr($data)}
		{pr($data_listgroup)}-->
		<div class="panel-body">
			<table id="" class="table table-bordered" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th class="min-desktop">Kode APBN</th>
						<th colspan = "5" class="min-desktop">Kegiatan / Output / Akun / SPM & SP2D</th>
						<th class="min-desktop">Anggaran</th>
					</tr>
				</thead>
				<tbody>
					{foreach $data_master_sub as $val}
					<tr>
						<td class="min-desktop">{$val.kodebaru}</td>
						<td colspan = "5" >{$val.namaoutput}</td>
						<td class="min-desktop text-right">{number_format($val.real_output,"0",",",".")}</td>
					</tr>
						{foreach $val.output as $out} 
						<tr>
							<td class="min-desktop">&nbsp;</td>
							<td class="min-desktop">SPM : {$out.NOSPM}</td>
							<td class="min-desktop">{$out.newTGSPM}</td>
							<td class="min-desktop">SP2D : {$out.NOSP2D}</td>
							<td class="min-desktop">{$out.newTGSP2D}</td>
							<td class="min-desktop text-right">{number_format($out.real_spm,"0",",",".")}</td>
							<td class="min-desktop">&nbsp;</td>
						</tr>
							{foreach $out.subdetail as $subdetail} 
							<tr>
								<td class="min-desktop">&nbsp;</td>
								<td class="min-desktop">{$subdetail.KDAKUN}</td>
								<td colspan = "3" class="min-desktop">{$subdetail.NMAKUN}</td>
								<td class="min-desktop text-right">{number_format($subdetail.NILMAK,"0",",",".")}</td>
								<td class="min-desktop">&nbsp;</td>
							</tr>
							{/foreach}
						{/foreach}
					{/foreach}
					
				</tbody>
			</table>
		</div>
	</div>
	<!--===================================================-->
	<!-- End Row selection and deletion (multiple rows) -->
	
	
</div>
<!--===================================================-->
<!--End page content-->

