<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Import SKKA</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
	<li class="active"><a href="{$basedomain}">Import SKKA</a></li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->

<!--Page content-->
<!--===================================================-->
<div id="page-content">
	
	<!-- Row selection and deletion (multiple rows) -->
	<!--===================================================-->
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title">Tahun Anggran : {$tahunAnggaran.kode} </h3>
		</div>
		<!-- <div id="create-toolbar" class="table-toolbar-left">
			<a href="{$basedomain}pelaporanKeuangan/import"><button class="btn btn-info btn-labeled fa fa-pencil-square-o">Import SAKPA </button></a>
		</div> -->
		<form class="form-horizontal" method="POST" action="{$basedomain}pelaporanKeuangan/ins_import" enctype="multipart/form-data">
			<div class="panel-body">

				<div class="row">
					<div class="col-md-8">
						<div class="form-group">
							<label class="col-sm-3 control-label">Satker</label>
							<div class="col-sm-4">
								
							<select name ="kdsatker" id="kdsatker" title="- Pilih Satker -"  class="selectpicker typeKursus" required>
								<option data-hidden="true"></option>
								{foreach $satker as $val}
								<option value="{$val.kode}">{$val.nama_satker}</option>
								{/foreach}
							</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">&nbsp;</label>
							<div class="col-sm-4">
								
							<b>Lokasi file pada folder //SAKPA/TRN</b>
							</div>
						</div>
						<div class="form-group">
						<label class="col-md-3 control-label">Realisasi Total</label>
						<div class="col-md-9">
							<span class="pull-left btn btn-default btn-file" id="total">
							Browse File : <label style="color:red">M_SPMIND</label> <input type="file" name="total">
							</span>
							<div id="attach-total" style="margin-left:200px"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">Realisasi Akun</label>
						<div class="col-md-9">
							<span class="pull-left btn btn-default btn-file" id="akun">
							Browse File : <label style="color:red">M_SPMMAK</label> <input type="file" name="akun">
							</span>
							<div id="attach-akun" style="margin-left:200px"></div>
						</div>
					</div>

					</div>
				</div>
				<!-- HIDDEN -->
				<input type="hidden" name="thang" value="{$tahunAnggaran.kode}">
			</div>
			<div class="panel-footer text-left">
				<button class="btn btn-info" type="submit">Proses</button>
			</div>
		</form>
	</div>

	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title">Riwayat Upload </h3>
		</div>
		
		<div class="panel-body">
			<table id="newslist" class="table table-striped table-bordered" cellspacing="0" width="100%">
				<thead>

					<tr>
						<th rowspan="2" class="text-center" style="vertical-align: middle">Kode Satker</th>
						<th rowspan="2" class="text-center" style="vertical-align: middle">Nama File</th>
						<th class="min-desktop text-center" colspan="2" style="vertical-align: middle">Upload Terakhir</th>
						<th class="min-desktop text-center" rowspan="2" style="vertical-align: middle">Keterangan</th>
					</tr>
					<tr >
						<th class="min-desktop text-center" style="vertical-align: middle">User</th>
						<th class="min-desktop text-center" style="vertical-align: middle">Waktu</th>
					</tr>
				</thead>
				<tbody>
					{if !empty($riwayat)}
					{foreach $riwayat as $val}
					<tr>
						<td>{$val.kdsatker}</td>
						<td>{$val.nama_file}</td>
						<td>{$val.user_upload}</td>
						<td>{$val.tgl_upload}</td>
						<td>{$val.keterangan}</td>
					</tr>
					{/foreach}
					{else}
						<td colspan="5" class="text-center">Tidak ada data</td>
					{/if}
				</tbody>
			</table>
		</div>
	</div>
	<!--===================================================-->
	<!-- End Row selection and deletion (multiple rows) -->
	
	
</div>
<!--===================================================-->
<!--End page content-->

{literal}
<script type="text/javascript">
	$(document).on('ready', function() {
		var size1 = [];
		var size2 = [];

		$('#total :file').on('fileselect', function(event, numFiles, label, fileSize) {
			size1.push(fileSize);
			label = label.toUpperCase();
			//if(label == 'M_SPMIND.DBF')
			if(label == 'M_SPMIND')
			{
				$('#attach-total').html('<strong class="box-block text-capitalize" style="color:green"><i class="fa fa-check"></i> '+label+'</strong><small class="text-muted">'+size1[0]+'</small>');
			} else {
				$('#attach-total').html('<strong class="box-block text-capitalize" style="color:red"> <i class="fa fa-times"></i> Wrong File </strong><small class="text-muted"> Please choose the right file</small>');
				size1=[];
			}
		});

		$('#akun :file').on('fileselect', function(event, numFiles, label, fileSize) {
			size2.push(fileSize);
			label = label.toUpperCase();
			//if(label == 'M_SPMMAK.DBF')
			if(label == 'M_SPMMAK')
			{
				$('#attach-akun').html('<strong class="box-block text-capitalize" style="color:green"><i class="fa fa-check"></i> '+label+'</strong><small class="text-muted">'+size2[0]+'</small>');
			} else {
				$('#attach-akun').html('<strong class="box-block text-capitalize" style="color:red"> <i class="fa fa-times"></i> Wrong File </strong><small class="text-muted"> Please choose the right file</small>');
				size2=[];
			}
		});
	})
</script>
{/literal}
