<script>
$(window).on('load', function() {

	// Datatables
	// Row selection and deletion (multiple rows)
	// -----------------------------------------------------------------
	var rowDeletion = $('#newslist').DataTable({
		"responsive": true,
		"language": {
			"paginate": {
			  "previous": '<i class="fa fa-angle-left"></i>',
			  "next": '<i class="fa fa-angle-right"></i>'
			}
		},
		"dom": '<"toolbar">frtip'
	});

	$('#create-toolbar').appendTo($("div.toolbar"));
	$('#separator-toolbar').appendTo($("div.toolbar"));
	$('#delete-toolbar').appendTo($("div.toolbar"));

})

</script>

<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Realisasi Keuangan</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
	<li class="active"><a href="{$basedomain}">Realisasi Keuangan</a></li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->

<!--Page content-->
<!--===================================================-->
<div id="page-content">
	
	<!-- Row selection and deletion (multiple rows) -->
	<!--===================================================-->
	<div class="panel">
		<!--<div class="panel-heading">
			<h3 class="panel-title">Detail Kegiatan</h3>
		</div>-->
		
		<div class="panel-body">
			<div class="pad-btm form-inline">
				<div class="row">
					<div class="col-sm-6 table-toolbar-left">
						<a href="{$basedomain}pelaporanKeuangan/import"><button id="demo-btn-addrow" class="btn btn-mint btn-labeled fa fa-plus">Import SAKPA</button></a>
					</div>
					<div id="delete-toolbar" class="table-toolbar-right">
						<form action="{$basedomain}pelaporanKeuangan/" method="post">
						<div class="form-horizontal">
							<div class="form-group">
							<select name="unit"  class="selectpicker" width="100%">
								<option value="" selected>--Pilih Unit Kerja--</option>
								{foreach $list_dropdown as $value}
									{if $value.kdunit == $kd_unit}
										{$select ="selected"}
									{else}
										{$select =""}
									{/if}
								<option value="{$value.kdunit}" {$select}>{$value.nmunit}</option>
								{/foreach}
							</select>
								<button class="btn btn-primary btn-labeled fa fa-list">Tampilkan</button>
							</div>
						</div>
						</form>
					</div>
				</div>
			</div>
			<div class="table-responsive" style="overflow:scroll;max-height:600px">
				<table class="table table-bordered" >
				<thead>
					<tr>
						<th rowspan="2">Kode APBN</th>
						<th rowspan="2">Nama Satuan Kerja /<br/>
							Nama Kegiatan /<br/>
							Output
						</th>
						<th class="min-desktop"  rowspan="2">Pagu<br/>Anggaran</th>
						<th class="min-desktop" colspan="2">Realisasi Anggaran</th>
						<th class="min-desktop" rowspan="2">Data Detil</th>
					</tr>
					<tr >
						<th class="min-desktop">Rupiah</th>
						<th class="min-desktop">%</th>
					</tr>
				</thead>
				<tbody>	
					{if $this->admin[type] == 1}
					<tr style="color:black">
						<td>{$data_master.0.KDSATKER}</td>
						<td>{$data_master.0.nama_satker}</td>
						<td>{number_format($data_master.0.pagu_total,"0",",",".")}</td>
						<td>{number_format($data_master.0.real_satker,"0",",",".")}</td>
						<td>{number_format($data_master.0.persentase,"2",",",".")}</td>
						<td>&nbsp;</td>
					</tr>
					{/if}
					{foreach $data_master_sub as $value}
					<tr style="color:blue">
						<td>{$value.kdgiat}</td>
						<td>{$value.nama_giat}</td>
						<td>{number_format($value.pagu_giat,"0",",",".")}</td>
						<td>{number_format($value.real_giat,"0",",",".")}</td>
						<td>{number_format($value.persentase,"2",",",".")}</td>
						<td><a href="{$basedomain}pelaporanKeuangan/detailKegiatan/?kd_satker={$kd_satker}&thn={$tahun}&pagu={$value.real_giat}&kd_giat={$value.kdgiat}"><button class="btn btn-info btn-labeled fa fa-eye">View Detail</button></a></td>
						{foreach $value.output as $val}
						<tr>
							<td>{$val.KDOUTPUT}</td>
							<td>{$val.namaoutput}</td>
							<td>{number_format($val.pagutotal,"0",",",".")}</td>
							<td>{number_format($val.real_output,"0",",",".")}</td>
							<td>{number_format($val.realisasioutput,"2",",",".")}</td>
							<td><a href="{$basedomain}pelaporanKeuangan/detailKegiatanSub/?kd_satker={$kd_satker}&thn={$tahun}&kd_giat={$value.kdgiat}&kd_ouput={$val.KDOUTPUT}"><button class="btn btn-info btn-labeled fa fa-eye">View Detail</button></a></td>
						</tr>
						{/foreach}
					</tr>
					{/foreach}
				</tbody>
			</table>
			</div>
		</div>
	</div>
	<!--===================================================-->
	<!-- End Row selection and deletion (multiple rows) -->
	
	
</div>
<!--===================================================-->
<!--End page content-->

