<script>
$(document).ready(function() {
	$('#deskripsi').summernote({
		height: 200
	});
})	
//for ceck number
function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
	}	
</script>
<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Form Edit Capaian</h1>

	<!--Searchbox-->
	<!-- <div class="searchbox">
		<div class="input-group custom-search-form">
			<input type="text" class="form-control" placeholder="Search..">
			<span class="input-group-btn">
				<button class="text-muted" type="button"><i class="fa fa-search"></i></button>
			</span>
		</div>
	</div> -->
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
	<li><a href="{$basedomain}">Home</a></li>
	<li><a href="{$basedomain}pelaporanKegiatan/index">Pelaporan Kegiatan</a></li>
	<li class="active">Edit Capaian</li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->

<!--Page content-->
<!--===================================================-->
<div id="page-content">
	
	<div class="row">

		<div class="col-sm-12">
			<div class="panel">
				<div class="panel-heading">
					<h3 class="panel-title">Input Form</h3>
				</div>
				<!--{pr($data_list)}-->
				<!--{pr($data)}-->
				<!--{$data_list[0].idKursus}
				{$data_list[0].namakursus}-->
				<!--Horizontal Form-->
				<!--===================================================-->
				<form class="form-horizontal" id="fdata" method="POST" action="{$basedomain}pelaporanKegiatan/updateForm" enctype="multipart/form-data">
				<input type="hidden" name="id" value="{$data.id}"/>
				<input type="hidden" name="categoryType" id="type" class="form-control" value="{$data.categoryType}">
					<div class="panel-body">
						<div class="form-group">
							<label class="col-sm-3 control-label">Sasaran</label>
							<div class="col-sm-6">						
								<select name ="sasaran" id="sasaran"  class="selectpicker">
									{foreach $dataSasaran as $keys => $vals}
										{$selected=""}
										{if $vals.id==$data.sasaran}
											{$selected="selected"}
										{/if}
										<option value="{$vals.id}" {$selected}>{$vals.desc}</option>
										
									{/foreach}
								</select> 
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Indikator Kinerja</label>
							<div class="col-sm-6" >		
								<div id="indikatorx">				
									<select name ="indikator" id="selectindikator"  class="selectpicker">
									{foreach $dataIndikator as $keyr => $valr}
										{$selected=""}
										{if $valr.id==$data.indikator}
											{$selected="selected"}
										{/if}
										<option value="{$valr.id}" {$selected}>{$valr.nm_pk}</option>
										
									{/foreach}
									</select> 
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Target</label>
							<div class="col-sm-4">
								<input type="text" name="target" id="target" value="{$data.target}" class="form-control" readonly required>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label">Formula Indikator Kinerja</label>
							<div class="col-sm-4">
								<input type="text" name="formula" class="form-control" value="{$data.formula}" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label"><strong>TRIWULAN I</strong></label>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Target</label>
							<div class="col-sm-8">
								<div class="input-group">
									<span class="input-group-addon">Output</span>
									<textarea class="form-control" name="twn1[trgtO]">{$data.triwulan1_trgtO}</textarea>
									<span class="input-group-addon">Proses / Tahapan</span>
									<textarea class="form-control" name="twn1[trgtP]">{$data.triwulan1_trgtP}</textarea>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">&nbsp;</label>
							<div class="col-sm-4">
								<div class="input-group">
									<span class="input-group-addon">(%)</span>
									<input type="text" name="twn1[ntrgt]" value="{$data.triwulan1_ntrgt}"  class="form-control">
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-3 control-label">Realisasi</label>
							<div class="col-sm-8">
								<div class="input-group">
									<span class="input-group-addon">Output</span>
									<textarea class="form-control" name="twn1[realO]">{$data.triwulan1_realO}</textarea>
									<span class="input-group-addon">Proses / Tahapan</span>
									<textarea class="form-control" name="twn1[realP]">{$data.triwulan1_realP}</textarea>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">&nbsp;</label>
							<div class="col-sm-4">
								<div class="input-group">
									<span class="input-group-addon">(%)</span>
									<input type="text" name="twn1[nreal]" value="{$data.triwulan1_nreal}"  class="form-control">
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-4 control-label"><strong>TRIWULAN II</strong></label>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label">Target</label>
							<div class="col-sm-8">
								<div class="input-group">
									<span class="input-group-addon">Output</span>
									<textarea class="form-control" name="twn2[trgtO]">{$data.triwulan2_trgtO}</textarea>
									<span class="input-group-addon">Proses / Tahapan</span>
									<textarea class="form-control" name="twn2[trgtP]">{$data.triwulan2_trgtP}</textarea>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label">&nbsp;</label>
							<div class="col-sm-4">
								<div class="input-group">
									<span class="input-group-addon">(%)</span>
									<input type="text" name="twn2[ntrgt]" value="{$data.triwulan2_ntrgt}"  class="form-control">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Realisasi</label>
							<div class="col-sm-8">
								<div class="input-group">
									<span class="input-group-addon">Output</span>
									<textarea class="form-control" name="twn2[realO]">{$data.triwulan2_realO}</textarea>
									<span class="input-group-addon">Proses / Tahapan</span>
									<textarea class="form-control" name="twn2[realP]">{$data.triwulan2_realP}</textarea>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">&nbsp;</label>
							<div class="col-sm-4">
								<div class="input-group">
									<span class="input-group-addon">(%)</span>
									<input type="text" name="twn2[nreal]" value="{$data.triwulan2_nreal}"  class="form-control">
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-4 control-label"><strong>TRIWULAN III</strong></label>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label">Target</label>
							<div class="col-sm-8">
								<div class=" input-group">
									<span class="input-group-addon">Output</span>
									<textarea class="form-control" name="twn3[trgtO]">{$data.triwulan3_trgtO}</textarea>
									<span class="input-group-addon">Proses / Tahapan</span>
									<textarea class="form-control" name="twn3[trgtP]">{$data.triwulan3_trgtP}</textarea>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">&nbsp;</label>
							<div class="col-sm-4">
								<div class="input-group">
									<span class="input-group-addon">(%)</span>
									<input type="text" name="twn3[ntrgt]" value="{$data.triwulan3_ntrgt}"  class="form-control">
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-3 control-label">Realisasi</label>
							<div class="col-sm-8">
								<div class="input-group">
									<span class="input-group-addon">Output</span>
									<textarea class="form-control" name="twn3[realO]">{$data.triwulan3_trgtO}</textarea>
									<span class="input-group-addon">Proses / Tahapan</span>
									<textarea class="form-control" name="twn3[realP]">{$data.triwulan3_trgtP}</textarea>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">&nbsp;</label>
							<div class="col-sm-4">
								<div class="input-group">
									<span class="input-group-addon">(%)</span>
									<input type="text" name="twn3[nreal]" value="{$data.triwulan3_nreal}"  class="form-control">
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-4 control-label"><strong>TRIWULAN IV</strong></label>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label">Target</label>
							<div class="col-sm-8">
								<div class="input-group">
									<span class="input-group-addon">Output</span>
									<textarea class="form-control" name="twn4[trgtO]">{$data.triwulan4_trgtO}</textarea>
									<span class="input-group-addon">Proses / Tahapan</span>
									<textarea class="form-control" name="twn4[trgtP]">{$data.triwulan4_trgtP}</textarea>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">&nbsp;</label>
							<div class="col-sm-4">
								<div class="input-group">
									<span class="input-group-addon">(%)</span>
									<input type="text" name="twn4[ntrgt]" value="{$data.triwulan4_ntrgt}"  class="form-control">
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-3 control-label">Realisasi</label>
							<div class="col-sm-8">
								<div class="input-group">
									<span class="input-group-addon">Output</span>
									<textarea class="form-control" name="twn4[realO]">{$data.triwulan4_realO}</textarea>
									<span class="input-group-addon">Proses / Tahapan</span>
									<textarea class="form-control" name="twn4[realP]">{$data.triwulan4_realP}</textarea>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">&nbsp;</label>
							<div class="col-sm-4">
								<div class="input-group">
									<span class="input-group-addon">(%)</span>
									<input type="text" name="twn4[nreal]" value="{$data.triwulan4_nreal}"  class="form-control">
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-3 control-label">Permasalahan / Kinerja</label>
							<div class="col-sm-4">
								<input type="text" name="permasalahan" value="{$data.permasalahan}"  class="form-control" required>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label">Perbaikan / Tindak Lanjut</label>
							<div class="col-sm-4">
								<input type="text" name="perbaikan" value="{$data.perbaikan}"  class="form-control" required>
							</div>
						</div>

						
						
					</div>
					<div class="panel-footer text-left">
						<input type="submit" name="submit" value="save" class="btn btn-info btn-large" required>
					</div>
				</form>
				<!--===================================================-->
				<!--End Horizontal Form-->
	
			</div>
		</div>
	</div>


	
	
</div>
<!--===================================================-->
<!--End page content-->

	<script type="text/javascript">
{literal}
 $('#fdata').on('change','#sasaran',function(){

 			 var value =$('#sasaran').val();
                   // alert(value);
                   // var valueparameter =$('#valueparameter').val();

                    $.post(basedomain+'pelaporanKegiatan/getData', {actionfunction: 'showDataAjax',id: value}, function(data){
                            
                            if (data.status==true) {
                               
                                    $('#indikatorx').html(data.data); 

                                 // $('.ajax-spinner-bars').css("display","none"); 
                                
                            }else{

                                    $('#indikatorx').html(data.data); 
                                   // $('.ajax-spinner-bars').css("display","none"); 
                            }
                        }, "JSON")

                return false;
	});

		
{/literal}
	</script>	
