<script>
$(document).ready(function() {
	$('#deskripsi').summernote({
		height: 200
	});
})	
//for ceck number
function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
	}	
</script>

<style type="text/css">
	table {
	  table-layout: auto;
	  width: 100%;
	  white-space: nowrap;
	}
	.row-name {
	  width: 40%;
	}
	#rpk th, td {
		vertical-align:middle;
	}
</style>
<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Edit RPK</h1>

	<!--Searchbox-->
	<!-- <div class="searchbox">
		<div class="input-group custom-search-form">
			<input type="text" class="form-control" placeholder="Search..">
			<span class="input-group-btn">
				<button class="text-muted" type="button"><i class="fa fa-search"></i></button>
			</span>
		</div>
	</div> -->
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
	<li><a href="{$basedomain}">Home</a></li>
	<li><a href="{$basedomain}course/courselist">RPK</a></li>
	<li class="active">Edit RPK</li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->

<!--Page content-->
<!--===================================================-->
<div id="page-content">
	
	<div class="row">

		<div class="col-sm-12">
			<div class="panel">
				<div class="panel-heading">
					<h3 class="panel-title">Form Edit</h3>
				</div>
				<!--{pr($data_list)}-->
				<!--{pr($data)}-->
				<!--{$data_list[0].idKursus}
				{$data_list[0].namakursus}-->
				<!--Horizontal Form-->
				<!--===================================================-->
				<!--<form class="form-horizontal" method="POST" action="{$basedomain}rpk/edit">-->
				
				<form class="form-horizontal" id="testForm" method="POST" action="">
					<input type="hidden" name="th" id="th" class="form-control" value="{$info.thn}">
					<input type="hidden" name="kdunitkerja" id="kdunitkerja" class="form-control" value="{$info.kd_unit}">
					<input type="hidden" name="kdgiat" id="kdgiat" class="form-control" value="{$info.kd_giat}">
					<input type="hidden" name="kdoutput" id="kdoutput" class="form-control" value="{$info.kd_output}">
					<input type="hidden" name="id" id="id" class="form-control" value="{$rinc.id}">
					<input type="hidden" name="status_hidden" id="status_hidden" class="form-control" value="{$rinc.status}">
					<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<h3 align="center">RENCANA PELAKSANAAN KEGIATAN {$info.thn}</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">	
							<div class="form-group  pull-left">
								<label class="control-label "><strong>A. Deskripsi Kegiatan</strong></label>
								&nbsp;
							</div>
						</div>
					</div>
						<div class="form-group">
							<label class="col-sm-2 control-label boldGrey">1. Output</label>
							<div class="col-sm-4">						
								<label class=" control-label">{$info.nama_output}</label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label boldGrey">2. Kegiatan</label>
							<div class="col-sm-5">						
								<label class=" control-label">{$info.nama_kegiatan}</label>
							 
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label boldGrey">3. Anggaran</label>
							<div class="col-sm-4">						
								<label class=" control-label">{number_format($info.pagu_output,"0",",",".")}</label>
							
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label boldGrey">4. Unit Eselon II</label>
							<div class="col-sm-4">						
								<label class=" control-label">{$info.unit_eselon}</label>
							
							</div>
						</div>
					<div class="row">
						<div class="col-sm-6">	
							<div class="form-group pull-left">
								<label class="control-label"><strong>B. Rincian Kegiatan</strong></label>
								
							</div>
						</div>
					</div>
						<div class="form-group">
							<label class="col-sm-2 control-label boldGrey">1. Tujuan Kegiatan</label>
							<div class="col-sm-7">						
								<input type="text" name="tujuan" id="tujuan" class="form-control" value="{$rinc.tujuan}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label boldGrey">2. Tahapan Kegiatan</label>
							<div class="col-sm-4 pull-left">	
								<ul style="list-style:none;list-style-position:outside;padding-left:0px" >
									{foreach $list as $val}
									<li>{$val.KDKMPNEN|cat:' '|cat:$val.nama_komponen}</li>
									{/foreach}
								</ul>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label boldGrey">3. Sasaran Kinerja</label>
							<div class="col-sm-10">
								<div class="row">
									<label class="col-sm-2 control-label align-left">	Triwulan I

									</label>
									<div class="col-sm-9">					
										<div class="form-group">
											<div class="col-sm-8 ">
													<input type="text" name="sasaran_1" id="sasaran_1" class="form-control" value="{$rinc.sasaran_trw_1}">
											</div>
											<div class="col-sm-4">
												<div class="input-group">
													<input type="text" name="ursasaran_1" id="ursasaran_1" class="form-control" value="{$detail.bobot_1}" onkeypress="return isNumber(event)" readonly>
													<span class="input-group-addon">(%)</span>
												</div>
											</div>
										</div>
									
									</div>
								</div>
								<div class="row">
									<label class="col-sm-2 control-label align-left">	Triwulan II

									</label>
									<div class="col-sm-9">					
										<div class="form-group">
											<div class="col-sm-8 ">
													<input type="text" name="sasaran_2" id="sasaran_2" class="form-control" value="{$rinc.sasaran_trw_2}">
											</div>
											<div class="col-sm-4">
												<div class="input-group">
													<input type="text" name="ursasaran_2" id="ursasaran_2" class="form-control" value="{$detail.bobot_2}" onkeypress="return isNumber(event)" readonly>
													<span class="input-group-addon">(%)</span>
												</div>
											</div>
										</div>
									
									</div>
								</div>
								<div class="row">
									<label class="col-sm-2 control-label align-left" >	Triwulan III

									</label>
									<div class="col-sm-9">					
										<div class="form-group">
											<div class="col-sm-8 ">
													<input type="text" name="sasaran_3" id="sasaran_3" class="form-control" value="{$rinc.sasaran_trw_3}">
											</div>
											<div class="col-sm-4">
												<div class="input-group">
													<input type="text" name="ursasaran_3" id="ursasaran_3" class="form-control" value="{$detail.bobot_3}" onkeypress="return isNumber(event)" readonly>
													<span class="input-group-addon">(%)</span>
												</div>
											</div>
										</div>
									
									</div>
								</div>
								<div class="row">
									<label class="col-sm-2 control-label align-left">	Triwulan IV

									</label>
									<div class="col-sm-9">					
										<div class="form-group">
											<div class="col-sm-8 ">
													<input type="text" name="sasaran_4" id="sasaran_4" class="form-control" value="{$rinc.sasaran_trw_4}" >
											</div>
											<div class="col-sm-4">
												<div class="input-group">
													<input type="text" name="ursasaran_4" id="ursasaran_4" class="form-control" value="{$detail.bobot_4}" onkeypress="return isNumber(event)" readonly>
													<span class="input-group-addon">(%)</span>
												</div>
											</div>
										</div>
									
									</div>
								</div>
								

							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label boldGrey">Status</label>
								<div class="col-sm-10">
									<div class="row">
										<select name="status" id="status"  class="selectpicker" width="100%">
											<option value="0" id="0">Kosong</option>
											<option value="1" id="1">Draf</option>
											<option value="2" id="2">Dikirim</option>
										</select>
									</div>
								</div>
						</div>
						
						<div class="row">
							<div class="col-md-12" style="overflow:scroll;max-height:600px" >
								<table id="rpk" class="table table-bordered" cellspacing="0" width="100%">
									<thead>
										<tr>
											<th class="text-center" colspan="2" rowspan="3">Kode</th>
											<th class="text-center row-name" rowspan="3">Komponen</th>
											<th class="text-center" colspan="6">TW I</th>
											<th class="text-center" colspan="6">TW II</th>
											<th class="text-center" colspan="6">TW III</th>
											<th class="text-center" colspan="6">TW IV</th>
											<th class="text-center" rowspan="3">Jumlah Bobot (%)</th>
											<th class="text-center" rowspan="3">Jumlah Anggaran (Rp)</th>
											<th class="text-center" rowspan="3">Aksi</th>
										</tr>

										<tr>
											<th class="text-center" colspan="2">Jan</th>
											<th class="text-center" colspan="2">Feb</th>
											<th class="text-center" colspan="2">Mar</th>
											<th class="text-center" colspan="2">Apr</th>
											<th class="text-center" colspan="2">Mei</th>
											<th class="text-center" colspan="2">Jun</th>
											<th class="text-center" colspan="2">Jul</th>
											<th class="text-center" colspan="2">Agst</th>
											<th class="text-center" colspan="2">Sept</th>
											<th class="text-center" colspan="2">Okt</th>
											<th class="text-center" colspan="2">Nov</th>
											<th class="text-center" colspan="2">Des</th>
										</tr>

										<tr>
											<th class="text-center">Bobot (%)</th>
											<th class="text-center">Anggaran (Rp)</th>
											<th class="text-center">Bobot (%)</th>
											<th class="text-center">Anggaran (Rp)</th>
											<th class="text-center">Bobot (%)</th>
											<th class="text-center">Anggaran (Rp)</th>
											<th class="text-center">Bobot (%)</th>
											<th class="text-center">Anggaran (Rp)</th>
											<th class="text-center">Bobot (%)</th>
											<th class="text-center">Anggaran (Rp)</th>
											<th class="text-center">Bobot (%)</th>
											<th class="text-center">Anggaran (Rp)</th>
											<th class="text-center">Bobot (%)</th>
											<th class="text-center">Anggaran (Rp)</th>
											<th class="text-center">Bobot (%)</th>
											<th class="text-center">Anggaran (Rp)</th>
											<th class="text-center">Bobot (%)</th>
											<th class="text-center">Anggaran (Rp)</th>
											<th class="text-center">Bobot (%)</th>
											<th class="text-center">Anggaran (Rp)</th>
											<th class="text-center">Bobot (%)</th>
											<th class="text-center">Anggaran (Rp)</th>
											<th class="text-center">Bobot (%)</th>
											<th class="text-center">Anggaran (Rp)</th>
										</tr>
										<tr>
											<th class="text-center" colspan="2">(1)</th>
											<th class="text-center">(2)</th>
											<th class="text-center" colspan="24">(3)</th>
											<th class="text-center">(4)</th>
											<th class="text-center">(5)</th>
											<th class="text-center">(6)</th>
										</tr>
									</thead>

									<tbody>
										{foreach $list as $value}
											<tr style="color:blue">
												<td class="text-center" colspan="2">{$value.KDKMPNEN}</td>
												<td>{$value.nama_komponen}</td>
												<td>{number_format($value.bobot.target_1,"2",",",".")}</td>
												<td>{number_format($value.anggaran_1,"0",",",".")}</td>
												<td>{number_format($value.bobot.target_2,"2",",",".")}</td>
												<td>{number_format($value.anggaran_2,"0",",",".")}</td>
												<td>{number_format($value.bobot.target_3,"2",",",".")}</td>
												<td>{number_format($value.anggaran_3,"0",",",".")}</td>
												<td>{number_format($value.bobot.target_4,"2",",",".")}</td>
												<td>{number_format($value.anggaran_4,"0",",",".")}</td>
												<td>{number_format($value.bobot.target_5,"2",",",".")}</td>
												<td>{number_format($value.anggaran_5,"0",",",".")}</td>
												<td>{number_format($value.bobot.target_6,"2",",",".")}</td>
												<td>{number_format($value.anggaran_6,"0",",",".")}</td>
												<td>{number_format($value.bobot.target_7,"2",",",".")}</td>
												<td>{number_format($value.anggaran_7,"0",",",".")}</td>
												<td>{number_format($value.bobot.target_8,"2",",",".")}</td>
												<td>{number_format($value.anggaran_8,"0",",",".")}</td>
												<td>{number_format($value.bobot.target_9,"2",",",".")}</td>
												<td>{number_format($value.anggaran_9,"0",",",".")}</td>
												<td>{number_format($value.bobot.target_10,"2",",",".")}</td>
												<td>{number_format($value.anggaran_10,"0",",",".")}</td>
												<td>{number_format($value.bobot.target_11,"2",",",".")}</td>
												<td>{number_format($value.anggaran_11,"0",",",".")}</td>
												<td>{number_format($value.bobot.target_12,"2",",",".")}</td>
												<td>{number_format($value.anggaran_12,"0",",",".")}</td>
												<td>{$value.total_bobot}</td>
												<td class="text-right">{number_format($value.pagu_kmpnen,"0",",",".")}</td>
												<td>
													<a href="{$basedomain}rpk/editTahapan/?thn={$info.thn}&kd_unit={$info.kd_unit}&kd_giat={$info.kd_giat}&kd_output={$info.kd_output}&kd_komponen={$value.KDKMPNEN}&kd_soutput={$value.KDSOUTPUT}"><button class="btn btn-primary btn-labeled fa fa-pencil-square-o" type="button">Edit Tahapan</button></a>
													&nbsp;
													<a href="{$basedomain}rpk/editBobot/?thn={$info.thn}&kd_unit={$info.kd_unit}&kd_giat={$info.kd_giat}&kd_output={$info.kd_output}&kd_komponen={$value.KDKMPNEN}&kd_soutput={$value.KDSOUTPUT}"><button class="btn btn-purple btn-labeled fa fa-pencil-square-o" type="button">Edit Bobot</button></a>

												</td>
											</tr>
											{foreach $value.sub_komponen as $sub}
												<tr>
													<td>&nbsp;</td>
													<td>{$sub.kd_tahapan}</td>
													<td>{$sub.nm_tahapan}</td>
													<td>{number_format($sub.target_1,"2",",",".")}</td>
													<td>{number_format($sub.anggaran_1,"0",",",".")}</td>
													<td>{number_format($sub.target_2,"2",",",".")}</td>
													<td>{number_format($sub.anggaran_2,"0",",",".")}</td>
													<td>{number_format($sub.target_3,"2",",",".")}</td>
													<td>{number_format($sub.anggaran_3,"0",",",".")}</td>
													<td>{number_format($sub.target_4,"2",",",".")}</td>
													<td>{number_format($sub.anggaran_4,"0",",",".")}</td>
													<td>{number_format($sub.target_5,"2",",",".")}</td>
													<td>{number_format($sub.anggaran_5,"0",",",".")}</td>
													<td>{number_format($sub.target_6,"2",",",".")}</td>
													<td>{number_format($sub.anggaran_6,"0",",",".")}</td>
													<td>{number_format($sub.target_7,"2",",",".")}</td>
													<td>{number_format($sub.anggaran_7,"0",",",".")}</td>
													<td>{number_format($sub.target_8,"2",",",".")}</td>
													<td>{number_format($sub.anggaran_8,"0",",",".")}</td>
													<td>{number_format($sub.target_9,"2",",",".")}</td>
													<td>{number_format($sub.anggaran_9,"0",",",".")}</td>
													<td>{number_format($sub.target_10,"2",",",".")}</td>
													<td>{number_format($sub.anggaran_10,"0",",",".")}</td>
													<td>{number_format($sub.target_11,"2",",",".")}</td>
													<td>{number_format($sub.anggaran_11,"0",",",".")}</td>
													<td>{number_format($sub.target_12,"2",",",".")}</td>
													<td>{number_format($sub.anggaran_12,"0",",",".")}</td>
													<td>{number_format($sub.sum_bobot,"2",",",".")}</td>
													<td>{number_format($sub.sum_anggaran,"0",",",".")}</td>
													<td>
														<a href="{$basedomain}rpk/editRencanaAnggaran/?thn={$info.thn}&kd_unit={$info.kd_unit}&kd_giat={$info.kd_giat}&kd_output={$info.kd_output}&kd_komponen={$value.KDKMPNEN}&kd_soutput={$value.KDSOUTPUT}&id={$sub.id}"><button class="btn btn-info btn-labeled fa fa-pencil-square-o" type="button">Edit Rencana Kinerja & Anggaran</button></a>
													</td>
												</tr>
											{/foreach}
											<tr>
												<td colspan="30"></td>
											</tr>
										{/foreach}
									</tbody>
								</table>
							</div>
						</div>
						
					</div>
					<div class="panel-footer text-right">
						<input type="button" id="submit" name="submit" value="save" class="btn btn-info">
					</div>
				</form>
				<!--===================================================-->
				<!--End Horizontal Form-->
	
			</div>
		</div>
	</div>
</div>
<!--===================================================-->
<script>
$(document).ready(function() {
var status_hidden = $('#status_hidden').val();
if(status_hidden){
document.getElementById(status_hidden).selected = "true";
}
$('#submit').on('click', function(){
	var status = $('#status').val();
	var tujuan = $('#tujuan').val();
	var th = $('#th').val();
	var id = $('#id').val();
	var kdunitkerja = $('#kdunitkerja').val();
	var kdgiat = $('#kdgiat').val();
	var kdoutput = $('#kdoutput').val();
	var sasaran_1 = $('#sasaran_1').val();
	var sasaran_2 = $('#sasaran_2').val();
	var sasaran_3 = $('#sasaran_3').val();
	var sasaran_4 = $('#sasaran_4').val();
	var ursasaran_1 = $('#ursasaran_1').val();
	var ursasaran_2 = $('#ursasaran_2').val();
	var ursasaran_3 = $('#ursasaran_3').val();
	var ursasaran_4 = $('#ursasaran_4').val();
		
	/*$.post( basedomain+"rpk/post", { id: id,  tujuan: tujuan, status: status, th: th, kdunitkerja: kdunitkerja, kdgiat : kdgiat,kdoutput : kdoutput,sasaran_1 : sasaran_1, sasaran_2: sasaran_2, sasaran_3 : sasaran_3, sasaran_4: sasaran_4,ursasaran_1 : ursasaran_1, ursasaran_2 : ursasaran_2, ursasaran_3 : ursasaran_3, ursasaran_4 : ursasaran_4 });
	alert("Data DiSimpan");
	setTimeout(
	  function() 
	  {
		location.reload();
	  }, 1000);	*/
	  bootbox.confirm("Simpan Data?", function(result) {
			if (result) {
				$.post( basedomain+"rpk/post", { id: id,  tujuan: tujuan, status: status, th: th, kdunitkerja: kdunitkerja, kdgiat : kdgiat,kdoutput : kdoutput,sasaran_1 : sasaran_1, sasaran_2: sasaran_2, sasaran_3 : sasaran_3, sasaran_4: sasaran_4,ursasaran_1 : ursasaran_1, ursasaran_2 : ursasaran_2, ursasaran_3 : ursasaran_3, ursasaran_4 : ursasaran_4 });										
				$.niftyNoty({
					type: 'success',
					icon : 'fa fa-check',
					message : 'Simpan Data Berhasil.',
					container : 'floating',
					timer : 2000
				});
				setTimeout(
			   function() 
			   {
				location.reload();
			   }, 2000);
			}else{
				$.niftyNoty({
					type: 'danger',
					icon : 'fa fa-minus',
					message : 'Simpan Data Gagal!',
					container : 'floating',
					timer : 2000
				});
			}


		});


	    $('#demo-bootbox-prompt').on('click', function(){
			bootbox.prompt("What is your name?", function(result) {
				if (result) {
					$.niftyNoty({
						type: 'success',
						icon : 'fa fa-check',
						message : 'Hi ' + result,
						container : 'floating',
						timer : 3000
					});
				}else{
					$.niftyNoty({
						type: 'danger',
						icon : 'fa fa-minus',
						message : 'User declined dialog.',
						container : 'floating',
						timer : 3000
					});
				};
			});
		});
	  
	  
	});	
});
</script>
<!--End page content-->
